<ion-item
  [disabled]="
    announcement?.categoryAnnouncement === null || announcement?.blockade
  "
  detail="true"
  (click)="toggleRoute()"
  title="Alterar Titulo e descrição"
  aria-label="Clique para inserir o horário de funcionamento"
  [attr.aria-disabled]="
    'Clique para inserir o horário de funcionamento ' + announcement?.blockade
      ? 'abilitado.'
      : 'desabilitado'
  "
  button
>
  <ion-icon name="timer" slot="start"></ion-icon>
  <ion-label>Horário de funcionamento</ion-label>
</ion-item>
