<ion-row>
  <ion-col size-xl="11" size-lg="11" size-sm="11" size-md="11" size-xs="11">
    <ion-segment color="dark" value="enabled">
      <ion-segment-button title="Usuários abilitados" value="enabled">
        <ion-icon name="checkmark-done"></ion-icon>
        <ion-label>Abilitados</ion-label>
      </ion-segment-button>
      <ion-segment-button title="Usuários excluidas" value="deleted">
        <ion-icon name="trash"></ion-icon>
        <ion-label>Excluidos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-row>
