<ion-row>
  <ion-col size-xl="11" size-lg="11" size-sm="11" size-md="11" size-xs="11">
    <ion-segment [mode]="isAdmin && 'ios'" color="dark" value="enabled">
      <ion-segment-button title="Anúncios abilitados" value="enabled">
        <ion-icon name="checkmark-done"></ion-icon>
        <ion-label [hidden]="isAdmin">Abilitados</ion-label>
      </ion-segment-button>
      <ion-segment-button title="Anúncios excluidas" value="deleted">
        <ion-icon name="trash"></ion-icon>
        <ion-label [hidden]="isAdmin">Excluidos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-row>
