.description {
  border: 1px solid var(--ion-color-danger);
  padding: 16px;
  border-radius: 4px;
}

.tooltip {
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  width: 100%;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 12px;
  position: relative;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
