<ion-row *ngIf="announcement$ | async;else Loading;">
  <!-- Searsh -->
  <ion-col size="12" class="ion-no-padding">
    <app-announcement-search-component
      *ngIf="announcement?.length > 1"
      (search)="search($event)"
    ></app-announcement-search-component>
  </ion-col>
  <ion-col
    *ngFor="let item of announcement"
    size-xl="6"
    size-lg="6"
    size-md="12"
    size-sm="12"
    size="12"
  >
    <!-- Anúncios -->
    <app-card-announcement-component
      [announcement]="item"
    ></app-card-announcement-component>
  </ion-col>
  <ion-col size="12" [hidden]="announcement?.length > 0 || !isAdmin">
    <div class="content-center">
      <ion-icon color="medium" name="megaphone"></ion-icon>
      <ion-text color="medium"> Não á anúncio cadastrado. </ion-text>
    </div>
  </ion-col>
</ion-row>

<!-- Loading -->
<ng-template #Loading>
  <ion-row *ngIf="error | async; else loadingNoError">
    <ion-col size="12">
      <div class="content-center">
        <div>
          <ion-text class="ion-text-center">
            <p [ngClass]="{'hide': menssage}">Erro ao carregar anúncios.</p>
          </ion-text>
          <ion-refresher slot="fixed" (ionRefresh)="refresher($event)">
            <ion-refresher-content
              pullingIcon="chevron-down-circle-outline"
              pullingText="Puxe para baixo"
              refreshingSpinner="circles"
              refreshingText="Atualizar..."
            >
            </ion-refresher-content>
          </ion-refresher>
          <ion-text class="ion-text-center">
            <ion-button (mousedown)="hideMenssage()"
              >Puxe para atualizar
              <ion-icon
                class="ion-margin-start"
                name="arrow-down-circle"
              ></ion-icon>
            </ion-button>
          </ion-text>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ng-template #loadingNoError>
    <app-skeleton-announcement></app-skeleton-announcement>
  </ng-template>
</ng-template>
