<app-header-component></app-header-component>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="medium">
          <article>
            <h1 title="Termos de Uso">Termos de Uso</h1>
            <p>
              Seja bem-vindo ao
              <a href="https://montesbelos.app">montesbelos.app</a>. Leia com
              atenção todos os termos abaixo.
            </p>
            <p>
              Este documento, e todo o conteúdo do
              <a href="https://montesbelos.app">montesbelos.app</a> é oferecido
              por <a href="https://montesbelos.app">montesbelos.app</a>, neste
              termo representado apenas por “montesbelos.app”, que regulamenta
              todos os direitos e obrigações com todos que acessam o
              <a href="https://montesbelos.app">montesbelos.app</a>, denominado
              neste termo como “COLABORADOR”, reguardado todos os direitos
              previstos na legislação, trazem as cláusulas abaixo como requisito
              para acesso e visita do mesmo, situado no endereço
              <a href="https://montesbelos.app">montesbelos.app</a>.
            </p>
            <p>
              A permanência no
              <a href="https://montesbelos.app">montesbelos.app</a> implica-se
              automaticamente na leitura e aceitação tácita do presente termos
              de uso a seguir. Este termo foi atualizado pela última vez em 04
              de maio de 2023.
            </p>
          </article>
          <article>
            <h2>1. Das funções do montesbelos.app</h2>
            <p>
              O <a href="https://montesbelos.app">montesbelos.app</a> foi criado
              e desenvolvido com a função de trazer conteúdo informativo de alta
              qualidade promovendo a integração da atividade comércial, serviços
              públicos, doações e escambo.
            </p>
            <p>
              O <a href="https://montesbelos.app">montesbelos.app</a> busca
              através de cadastros orgânicos trazer o conteúdo ao alcance de
              todos, divulgando assim empresas, serviços públicos, doações e
              escambo dos "COLABORADOR".
            </p>
            <p>
              No <a href="https://montesbelos.app">montesbelos.app</a>, poderá
              ser realizado a divulgação de dados comérciais, empresas, serviços
              públicos, doações, escambo.
            </p>
            <p>
              É de responsabilidade do "COLABORADOR" de usar todas as
              informações presentes com responsabilidade, sempre buscando
              oferecer um esclarecimento do seu produto ou serviço anúncionado
              no
              <a href="https://montesbelos.app">montesbelos.app</a>.
            </p>
          </article>
          <article>
            <h2>2. Do aceite dos termos</h2>
            <p>
              Este termo especifica e exige que todo "USUÁRIO" ao acessar o
              <a href="https://montesbelos.app">montesbelos.app</a>, leia e
              compreenda todas as cláusulas do mesmo.
            </p>
            <p>
              Estabelece entre o
              <a href="https://montesbelos.app">montesbelos.app</a> e o
              "COLABORADOR" direitos e obrigações entre ambas as partes.
            </p>
            <p>
              Ao continuar acessando o
              <a href="https://montesbelos.app">montesbelos.app</a>, o "USUÁRIO"
              expressa que aceita e entende todas as cláusulas, assim como
              concorda integralmente com cada uma delas, sendo este aceite
              imprescindível para a permanência na mesma. Caso o "USUÁRIO"
              discorde de alguma cláusula ou termo deste contrato, o mesmo deve
              imediatamente interromper sua navegação de todas as formas e
              meios. Caso seja o "COLABORADOR" podera excluir o cadastro
              imediatamente.
            </p>
            <p>
              Este termo pode e irá ser atualizado periodicamente pela
              <a href="https://montesbelos.app">montesbelos.app</a>, que se
              resguarda no direito de alteração, sem qualquer tipo de aviso
              prévio e comunicação. É importante que o "USUÁRIO" confira sempre
              se houve movimentação e qual foi a última atualização do mesmo no
              começo da página.
            </p>
          </article>
          <article>
            <h2>3. Do Clossário</h2>
            <p>
              Este termo pode conter algumas palavras específicas que podem não
              se de conhecimento geral. Entre elas:
            </p>
            <ul>
              <li>
                USUÁRIOS: Todo aquele que utiliza o
                <a href="https://montesbelos.app">montesbelos.app</a>, não tem
                cadastro, e faz uso das informações publicadas pelos
                "COLABORADORES", através de computador, notebook, tablet,
                celular ou quaisquer outros meios, o website ou plataforma da
                empresa.
              </li>
              <li>
                COLABORADOR: Todo aquele que utiliza o
                <a href="https://montesbelos.app">montesbelos.app</a>, e possui
                cadastro.
              </li>
              <li>
                COOKIES: Pequenos arquivos de textos gerados automaticamente
                pelo
                <a href="https://montesbelos.app">montesbelos.app</a> e
                transmitido para a plataforma do "USUÁRIO", que servem para
                melhorar a usabilidade do "USUÁRIO".
              </li>
              <li>
                LOGIN: Dados de acesso do "COLABORADOR" ao realizar o cadastro
                junto ao
                <a href="https://montesbelos.app">montesbelos.app</a>, dividido
                entre email e senha, que dá acesso a funções restritas do
                <a href="https://montesbelos.app">montesbelos.app</a>.
              </li>
              <li>
                HIPERLINKS: São links clicáveis que podem aparecer pelo
                <a href="https://montesbelos.app">montesbelos.app</a> ou no
                conteúdo, que levam para outra página da
                <a href="https://montesbelos.app">montesbelos.app</a> ou site ou
                aplicativos externos.
              </li>
              <li>
                OFFLINE: Quando o
                <a href="https://montesbelos.app">montesbelos.app</a> ou
                plataforma se encontra indisponível, não podendo ser acessado
                externamente por nenhum "USUÁRIO".
              </li>
            </ul>
            <p>
              Em caso de dúvidas sobre qualquer palavra utilizada neste termo, o
              "USUÁRIO" deverá entrar em contato com a
              <a href="https://montesbelos.app">montesbelos.app</a> através dos
              canais de comunicação encontradas no
              <a href="https://montesbelos.app">montesbelos.app</a>.
            </p>
          </article>
          <article>
            <h2>
              4. Do acesso ao
              <a href="https://montesbelos.app">montesbelos.app</a>
            </h2>
            <p>
              O <a href="https://montesbelos.app">montesbelos.app</a> e
              plataforma funcionam normalmente 24 (vinte e quatro) horas por
              dia, porém podem ocorrer pequenas interrupções de forma temporária
              para ajustes, manutenção, mudança de servidores, falhas técnicas
              ou por ordem de força maior, que podem deixar o site indisponível
              por tempo limitado.
            </p>
            <p>
              O <a href="https://montesbelos.app">montesbelos.app</a> não se
              responsabiliza por nenhuma perda de oportunidade ou prejuízos que
              esta indisponibilidade temporária possa gerar aos "USUÁRIOS" e
              "COLABORADORES".
            </p>
            <p>
              Em caso de manutenção que exigirem um tempo maior, o
              <a href="https://montesbelos.app">montesbelos.app</a> irá informar
              previamente aos "USUÀRIOS" e "COLABORADORES" da necessidade e do
              tempo previsto em que o
              <a href="https://montesbelos.app">montesbelos.app</a> plataforma
              ficará offline.
            </p>
            <p>
              O acesso ao
              <a href="https://montesbelos.app">montesbelos.app</a> sera livre
              de qualquer classificação de idade.
            </p>
            <p>
              Caso seja necessário realizar um cadastro junto ao
              <a href="https://montesbelos.app">montesbelos.app</a>, onde o
              "USUÁRIO" deverá preencher um formulário com seus dados e
              informações, para ter acesso a alguma parte restrita, ou realizar
              alguma compra.
            </p>
            <p>
              Todos os dados estão protegidos conforme a Lei Geral de Proteção
              de Dados, e ao realizar o cadastro junto ao
              <a href="https://montesbelos.app">montesbelos.app</a>, o "USUÁRIO"
              concorda integralmente com a coleta de dados conforme a Lei e com
              a Política de Privacidade do
              <a href="https://montesbelos.app">montesbelos.app</a>.
            </p>
          </article>
          <article>
            <h2>5. Da licença de uso e cópia</h2>
            <p>
              O "USUÁRIO" poderá acessar todo o conteúdo do
              <a href="https://montesbelos.app">montesbelos.app</a>, como
              anúncios, imagens, produtos e serviços, não significando nenhum
              tipo de cessão de direito ou permissão de uso, ou de cópia dos
              mesmo.
            </p>
            <p>
              Todos os direitos são preservados, conforme a legislação
              brasileira, principalmente na Lei de Direitos Autorais
              (regulamentada na
              <a href="http://www.planalto.gov.br/ccivil_03/leis/l9610.htm"
                >Lei nº 9.610/18</a
              >), assim como no Código Civil brasileiro (regulamentada na
              <a
                href="http://www.planalto.gov.br/ccivil_03/leis/2002/l10406compilada.htm"
                >Lei nº 10.406/02</a
              >), ou quaisquer outras legislações aplicáveis.
            </p>
            <p>
              Todo o conteúdo do
              <a href="https://montesbelos.app">montesbelos.app</a> é protegido
              por direitos autorais, e seu uso, cópia, transmissão, venda,
              cessão ou revenda, deve seguir a lei brasileira, tendo o
              <a href="https://montesbelos.app">montesbelos.app</a>
              todos os seus direitos reservados, e não permitindo a cópia ou
              utilização de nenhuma forma e meio, sem autorização expressa e por
              escrita da mesma.
            </p>
            <p>
              O <a href="https://montesbelos.app">montesbelos.app</a>
              poderá em casos concretos permitir pontualmente exceções a este
              direito, que serão claramente destacados no mesmo, com a forma e
              permissão de uso do conteúdo protegido. Este direito é revogável e
              limitado as especificações de cada caso.
            </p>
          </article>
          <article>
            <h2>6. Das obrigações</h2>
            <p>
              O "USUÁRIO" ou "COLABORADOR" ao utilizar o
              <a href="https://montesbelos.app">montesbelos.app</a>, concorda
              integralmente em:
            </p>
            <ul>
              <li>
                De nenhuma forma ou meio realizar qualquer tipo de ação que
                tente invadir, hacker, destruir ou prejudicar a estrutura do
                <a href="https://montesbelos.app">montesbelos.app</a>,
                plataforma do
                <a href="https://montesbelos.app">montesbelos.app</a> ou de seus
                parceiros comerciais "USUÀRIOS" e "COLABORADORES". Incluindo-se,
                mas não se limitando, ao envio de vírus de computador, de
                ataques de DDOS, de acesso indevido por falhas da mesma ou
                quaisquer outras forma e meio.
              </li>
              <li>
                De não realizar divulgação indevida nos comentários do
                <a href="https://montesbelos.app">montesbelos.app</a>
                de conteúdo de SPAM, empresas concorrentes, vírus, conteúdo que
                não possua direitos autorais ou quaisquer outros que não seja
                pertinente a divulgação de dados comérciais, empresas, serviços
                públicos, doações, escambo.
              </li>
              <li>
                Da proibição em reproduzir qualquer conteúdo do
                <a href="https://montesbelos.app">montesbelos.app</a> ou
                plataforma sem autorização expressa, podendo responder civil e
                criminalmente pelo mesmo.
              </li>
              <li>
                Com a Política de Privacidade do
                <a href="https://montesbelos.app">montesbelos.app</a>, assim
                como tratamos os dados referentes ao cadastro e visita no
                <a href="https://montesbelos.app">montesbelos.app</a>, podendo a
                qualquer momento e forma, requerer a exclusão dos mesmos,
                através do formulário de contato.
              </li>
            </ul>
          </article>
          <article>
            <h2>7. Da monetização e publicidade</h2>
            <p>
              O <a href="https://montesbelos.app">montesbelos.app</a>
              venderà espaços publicitários na plataforma, diretamente aos
              "COLABORADORES".
            </p>
            <p>
              Essas publicidades significa divulgar mais dados dos anúncios como
              mapa, rede sociais (FACEBOOK INSTAGRAM) e images.
            </p>
            <p>
              Todas as propagandas no
              <a href="https://montesbelos.app">montesbelos.app</a> serão
              claramente destacadas como publicidade, como forma de disclaimer
              do <a href="https://montesbelos.app">montesbelos.app</a> e de
              conhecimento do "USUÁRIO".
            </p>
            <p>
              Em casos de compra do serviço, será possível a devolução em até 30
              (tinta) dias, o valor sera desacrecido de despesas bancarias
              conforme o Código de Defesa do Consumidor.
            </p>
            <p>
              Estes anúncios podem ser selecionados pelo
              <a href="https://montesbelos.app">montesbelos.app</a>
              conforme a locação do espaço requerido pelo "COLABORADOR" mediante
              contrato temporário remunerado.
            </p>
          </article>
          <article>
            <h2>8. Dos termos gerais</h2>
            <p>
              O Site irá apresentar hiperlinks durante toda a sua navegação, que
              podem levar diretamente para outra página do
              <a href="https://montesbelos.app">montesbelos.app</a> ou para
              sites externos.
            </p>
            <p>
              Apesar do
              <a href="https://montesbelos.app">montesbelos.app</a> apenas criar
              links para sites externos de extrema confiança, caso o usuário
              acesse um site externo, o
              <a href="https://montesbelos.app">montesbelos.app</a>
              não tem nenhuma responsabilidade pelo meio, sendo uma mera
              indicação de complementação de conteúdo, ficando o mesmo
              responsável pelo acesso, assim como sobre quaisquer ações que
              venham a realizar neste site.
            </p>
            <p>
              Em caso que ocorra eventuais conflitos judiciais entre o "USUÁRIO
              e o <a href="https://montesbelos.app">montesbelos.app</a>, o foro
              elegido para a devida ação será o da comarca do
              <a href="https://montesbelos.app">montesbelos.app</a>, mesmo que
              haja outro mais privilegiado.
            </p>
            <p class="ion-text-right ion-padding-top">
              Este Termo de uso é valido a partir de 04 de maio de 2023.
            </p>
          </article>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
