<ion-footer [ngClass]="{'ion-hide': isFooter}">
  <ion-toolbar color="primary" *ngIf="user$ | async;let user;">
    <ion-segment mode="md">
      <ion-segment-button
        title="Pagína inicíal."
        data-label="Início"
        [routerLink]="['/inicio']"
        value="inicio"
      >
        <ion-icon color="light" name="home"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-segment-button>
      <ion-segment-button
        [routerLink]="['/categoria', 'classificados']"
        value="classificados"
      >
        <ion-icon
          color="light"
          title="Classificados."
          aria-labelledby="classificado-label"
          src="./../../assets/ion-icon/classificad.svg"
          alt="Classificados"
        ></ion-icon>
        <ion-label>Classificados</ion-label>
      </ion-segment-button>
      <ng-container *ngIf="(user | userValues:'auth')">
        <ion-segment-button
          [routerLink]="['/painel-de-controle', 'anuncio']"
          title="Gerenciamento de anúncio"
          data-label="Gerenciamento de anúncio"
          value="anuncio"
        >
          <ion-icon color="light" name="megaphone"></ion-icon>
          <ion-label>Anúncio</ion-label>
        </ion-segment-button>
      </ng-container>

      <ng-container *ngIf="user | userValues:'auth'">
        <ion-segment-button
          [routerLink]="(user | isUserLevel:'1') ? '/painel-de-controle/admin/usuario' : '/painel-de-controle/usuario'"
          value="usuario"
        >
          <div>
            <ion-avatar class="cursor-pointer" title="Imágem do usuário.">
              <ion-img
                [src]="user | userValuesImgAvatar"
                referrerpolicy="no-referrer"
                [title]="user | userValues:'name':'Usuário'"
                alt="user | userValues:'name':'Usuário'"
              ></ion-img>
            </ion-avatar>
            <ion-label>Usuário</ion-label>
          </div>
        </ion-segment-button>
      </ng-container>
      <ng-container *ngIf="!(user | userValues:'auth')">
        <ion-segment-button
          *ngIf="!(user | userValues:'auth')"
          routerLink="/cadastrar"
          routerLinkActive="router-link-active"
          title="Cadastrar de usuários."
          value="cadastrar"
        >
          <ion-icon color="light" name="create"></ion-icon>
          <ion-label>Cadastrar</ion-label>
        </ion-segment-button>
      </ng-container>

      <ng-container *ngIf="!(user | userValues:'auth')">
        <ion-segment-button
          *ngIf="!(user | userValues:'auth')"
          routerLink="/entrar"
          title="Acesso ao sistema."
          value="entrar"
        >
          <ion-icon color="light" name="log-in"></ion-icon>
          <ion-label>Entrar</ion-label>
        </ion-segment-button>
      </ng-container>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
