ion-avatar {
  width: 26px;
  height: 26px;
  margin: 0 auto;
}
ion-label {
  margin-bottom: 0;
}
@media only screen and (max-width: 600px) {
  ion-label {
    font-size: x-small;
    margin-bottom: 0;
  }
}
