<app-header-component></app-header-component>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <div *ngIf="!desable; else Message">
      <app-form
        (submitDataForm)="onSubmit($event)"
        (exportForm)="importForm($event)"
        [inputConfig]="config"
        [attrButton]="attrButton"
      ></app-form>
    </div>

    <ng-template #Message>
      <app-requisition-limit
        [time]="time"
        [route]="route"
        (desable)="setDesable($event)"
      ></app-requisition-limit>
    </ng-template>

    <app-buttons-sccess-component
      [route]="route"
    ></app-buttons-sccess-component>

    <ion-text>
      <p class="ion-text-center">Use as rede sociais</p>
    </ion-text>

    <!-- social buttons -->
    <app-social-login
      *ngIf="config._csrf"
      [csrf]="config._csrf"
    ></app-social-login>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
