<ng-container *ngIf="category$ | async; else Error">
  <!-- Searsh -->
  <ion-col size="12" class="ion-no-padding">
    <app-search-category-component
      *ngIf="category | isCategory : 10"
      (search)="search($event)"
    ></app-search-category-component>
  </ion-col>
  <!-- List item -->
  <ion-item *ngFor="let item of category; let i = index">
    <ion-icon
      slot="start"
      size="large"
      title="Imagem do categorias."
      [src]="item?.image?.url || './../../../../assets/thumbnail.svg'"
    ></ion-icon>
    <div class="item">
      <div>
        <ion-label
          [title]="'Nome: ' + item?.name"
          [attr.data-message]="'Nome: ' + item?.name"
        >
          {{ item?.name | lnWords : 16 }}</ion-label
        >
        <div class="time">
          <small>{{ item?.createdAt | time : "create" }}</small>
          <small>{{ item?.updatedAt | time : "update" }}</small>
        </div>
      </div>

      <div>
        <ion-button
          (click)="destroy(item, i)"
          class="cursor-pointer"
          title="Exclui permanentemente"
          data-message="Exclui permanentemente"
          color="none"
        >
          <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
        </ion-button>
        <ion-button
          (click)="restore(item, i)"
          class="cursor-pointer"
          title="Restaurar categorias"
          data-message="Restaurar categorias"
          color="none"
        >
          <ion-icon
            slot="icon-only"
            color="success"
            name="play-back"
          ></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-item>

  <div class="content-center" [hidden]="category | isCategory">
    <ion-icon size="large" color="medium" name="trash-outline"></ion-icon>
    <ion-text color="medium"> Não á itens na lixeira. </ion-text>
  </div>

  <ion-card *ngIf="!endListCategory">
    <ion-text color="primary" class="ion-text-center">
      <p>FIM</p>
      <p *ngIf="category">{{ category.length }} categorias</p>
    </ion-text>
  </ion-card>

  <ion-infinite-scroll
    (ionInfinite)="findMoreCategory($event)"
    *ngIf="endListCategory"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais dados…"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>

<ng-template #Error>
  <ng-container *ngIf="error | async; else loadingNoError">
    <ion-row>
      <ion-col size="12">
        <div class="content-center">
          <div>
            <ion-text class="ion-text-center">
              <p [ngClass]="{ hide: menssage }">Erro ao carregar categorias.</p>
            </ion-text>
            <ion-refresher slot="fixed" (ionRefresh)="refresher($event)">
              <ion-refresher-content
                pullingIcon="chevron-down-circle-outline"
                pullingText="Puxe para baixo"
                refreshingSpinner="circles"
                refreshingText="Atualizar..."
              >
              </ion-refresher-content>
            </ion-refresher>
            <ion-text class="ion-text-center">
              <ion-button (mousedown)="hideMenssage()"
                >Puxe para atualizar
                <ion-icon
                  class="ion-margin-start"
                  name="arrow-down-circle"
                ></ion-icon>
              </ion-button>
            </ion-text>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-template #loadingNoError>
    <span size="12" class="ion-padding-bottom ion-padding-horizontal">
      <ion-skeleton-text animated class="search"></ion-skeleton-text>
    </span>
    <span *ngFor="let item of sizeSkeleton">
      <div class="skeleton">
        <ion-skeleton-text animated class="avatar"></ion-skeleton-text>
        <div>
          <ion-skeleton-text animated class="title"></ion-skeleton-text>
          <ion-skeleton-text animated class="line"></ion-skeleton-text>
        </div>
      </div>
    </span>
  </ng-template>
</ng-template>
