<app-header-component></app-header-component>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="user$ | async;let user;" fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <!-- Avatar -->
          <!-- <div class="container ion-margin-vertical"> -->
          <app-avatar-component [user]="user"></app-avatar-component>

          <!-- Label -->
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>{{ user?.name }}</ion-card-title>
              <ion-card-subtitle>
                Plano:
                <span *ngIf="user?.plan === 'free'">Grátis</span>
                <span *ngIf="user?.plan === 'basic'">Básico</span>
                <span *ngIf="user?.plan === 'special'">Especial</span>
                <br />
                Tipo: {{ user?.level === '1' ? 'Administrador' : 'Colaborador'
                }}
                <br />
                Email: {{ user?.email }} <br />{{ user?.createdAt |
                time:'create' }}
                <br />
                {{ user?.updatedAt | time:'update' }}
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-item-group>
      <ion-row>
        <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size="12">
          <ion-item-divider>
            <ion-icon color="mediun" name="person" slot="start"></ion-icon>
            <ion-label>Gerenciamento do usuário</ion-label>
          </ion-item-divider>

          <!-- Blockade -->
          <ion-item>
            <ion-label
              >{{ user?.blockade ? 'Bloqueado' : 'Desbloqueado' }}</ion-label
            >
            <ion-toggle
              slot="end"
              (ionChange)="blockade(user)"
              [checked]="user?.blockade"
              title="Alternar entre usuário bloquear e desbloquear."
              aria-label="Clique para alternar entre usuário bloquear e desbloquear."
            ></ion-toggle>
            <ion-icon
              slot="start"
              [name]="user?.blockade  ? 'stop': 'play'"
            ></ion-icon>
          </ion-item>

          <!-- State -->
          <ion-item [disabled]="user?.blockade">
            <ion-label>{{ user?.state ? 'Online' : 'Offline'}}</ion-label>
            <ion-toggle
              slot="end"
              (ionChange)="state(user)"
              [checked]="user?.state"
              title="Alternar entre usuário conectado ou desligado."
              aria-label="Clique para alternar entre usuário conectado ou desligado."
              [attr.aria-disabled]="'Botão alterar status ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            >
            </ion-toggle>
            <ion-icon
              slot="start"
              [name]="user?.state  ? 'power': 'radio-button-off'"
            ></ion-icon>
          </ion-item>

          <!-- Level -->
          <ion-item
            [disabled]="user?.blockade"
            detail="true"
            (click)="level(user)"
            title="Alterar senha"
            aria-label="Clique para alterar senha"
            [attr.aria-disabled]="'Botão alterar nivel do usuário ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-label
              >{{ user?.level === '1' ? 'administrador' :
              'Colaborador'}}</ion-label
            >
            <ion-icon
              slot="start"
              [name]="user?.level === '1' ? 'trophy': 'medal'"
            ></ion-icon>
          </ion-item>

          <!-- Plano -->
          <ion-item
            [disabled]="user?.blockade"
            detail="true"
            (click)="plan(user)"
            title="Alterar plano."
            aria-label="Clique para alterar plano"
            [attr.aria-disabled]="'Botão alterar plano do usuário ' + user?.blockade ? 'abilitado.' : 'desabilitado.'"
            button
          >
            <ion-label *ngIf="user?.plan === 'free'">Grátis</ion-label>
            <ion-icon
              *ngIf="user?.plan === 'free'"
              slot="start"
              name="trophy"
            ></ion-icon>

            <ion-label *ngIf="user?.plan === 'basic'">Básico</ion-label>
            <ion-icon
              *ngIf="user?.plan === 'basic'"
              slot="start"
              name="trophy"
            ></ion-icon>

            <ion-label *ngIf="user?.plan === 'special'">Especial</ion-label>
            <ion-icon
              *ngIf="user?.plan === 'special'"
              slot="start"
              name="trophy"
            ></ion-icon>
          </ion-item>

          <!-- Name -->
          <ion-item
            [disabled]="user?.blockade"
            detail="true"
            (click)="name(user)"
            title="Alterar nome e sobrenome"
            aria-label="Clique para alterar nome e sobrenome"
            [attr.aria-disabled]="'Botão alterar nome e sobrenome ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-label>Nome</ion-label>
          </ion-item>

          <!-- Email -->
          <ion-item
            [disabled]="user?.blockade"
            detail="true"
            (click)="email(user)"
            title="Alterar email"
            aria-label="Clique para alterar email"
            [attr.aria-disabled]="'Botão alterar email ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Email</ion-label>
          </ion-item>

          <!-- Passwprd -->
          <ion-item
            [disabled]="user?.blockade"
            detail="true"
            (click)="password(user)"
            title="Alterar senha"
            aria-label="Clique para alterar senha"
            [attr.aria-disabled]="'Botão alterar senha ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="key" slot="start"></ion-icon>
            <ion-label>Senha</ion-label>
          </ion-item>

          <!-- Delete -->
          <ion-item
            [disabled]="user?.blockade"
            detail="true"
            (click)="destroy(user)"
            title="Excluir usuário"
            aria-label="Clique para excluir usuário"
            [attr.aria-disabled]="'Botão excluir usuário ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="trash" slot="start"></ion-icon>
            <ion-label>Excluir</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size="12">
          <ion-item-divider>
            <ion-icon color="mediun" name="megaphone" slot="start"></ion-icon>
            <ion-label>Gerenciamento do anúncio</ion-label>
          </ion-item-divider>
        </ion-col>

        <ion-col size="12">
          <ion-item-divider>
            <ion-icon color="mediun" name="analytics" slot="start"></ion-icon>
            <ion-label>Extatísticas</ion-label>
          </ion-item-divider>
        </ion-col>
      </ion-row>
    </ion-item-group>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
