<ion-item-group>
  <ion-item-divider>
    <ion-icon color="mediun" name="list" slot="start"></ion-icon>
    <ion-label>Categoria</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-select
      *ngIf="category$ | async; let category"
      placeholder="Selecione uma categoria"
      (ionChange)="select($event)"
      [value]="announcement?.categoryAnnouncement?.catAdId || null"
    >
      <ion-select-option *ngFor="let item of category" [value]="item?.id">{{
        item?.name
      }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-item-group>
