<span *ngIf="user">
  <ion-item
    *ngIf="user?.isPassword;else IsPassword"
    [disabled]="user?.blockade"
    detail="true"
    (click)="password()"
    title="Alterar senha"
    aria-label="Clique para editar senha"
    [attr.aria-disabled]="'Botão editar senha ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
    button
  >
    <ion-icon name="key" slot="start"></ion-icon>
    <ion-label>Senha</ion-label>
  </ion-item>

  <ng-template #IsPassword>
    <ion-item
      [disabled]="user?.blockade"
      detail="true"
      (click)="passwordCreate(user)"
      title="Cadastrar senha"
      aria-label="Clique para cadastrar senha"
      aria-disabled="Botão cadastrar senha."
      button
    >
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-label>Senha</ion-label>
    </ion-item>
  </ng-template>
</span>
