ion-card-header {
  &.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.d-flex {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}
