<ion-item-divider lines="none">
  <ion-label><ion-icon name="map"></ion-icon> Mapa</ion-label>
</ion-item-divider>

<ion-item-sliding class="ion-margin-bottom">
  <ion-item lines="none">
    <ion-icon
      slot="end"
      title="Pressione e arraste para a esquerda."
      data-message="Pressione e arraste para a esquerda."
      name="chevron-back"
    ></ion-icon>
    <ng-container *ngIf="coordinate; else Else">
      <capacitor-google-map #map></capacitor-google-map>
    </ng-container>
    <ng-template #Else>
      <ion-text color="danger"> Não está cadastrado. </ion-text>
    </ng-template>
  </ion-item>

  <ion-item-options>
    <ion-item-option
      *ngIf="user?.level === '1' && coordinate"
      slot="end"
      size="small"
      color="danger"
      class="cursor-pointer"
      title="Exclui coordenadas"
      data-message="Exclui coordenadas"
      (click)="destroy()"
    >
      <ion-icon color="light" slot="start" name="trash"></ion-icon>
      delete
    </ion-item-option>
    <ion-item-option
      *ngIf="coordinate"
      slot="end"
      size="small"
      class="cursor-pointer"
      title="Editar coordenadas"
      data-message="Editar coordenadas"
      (click)="coordinates()"
    >
      <ion-icon color="light" name="create" slot="start"></ion-icon>
      editar
    </ion-item-option>
    <ion-item-option
      *ngIf="!coordinate"
      slot="end"
      size="small"
      class="cursor-pointer"
      title="Editar coordenadas"
      data-message="Editar coordenadas"
      (click)="coordinates()"
    >
      <ion-icon color="light" name="create" slot="start"></ion-icon>
      Cadastrar
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
