<app-header-component></app-header-component>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row *ngIf="categoryAnnouncement$ | async;else Error">
      <!-- Titulo da categoria  -->
      <ion-col size="12">
        <ion-text class="d-flex guide-title">
          <ion-icon
            *ngIf="dark$ | async; let dark"
            class="ion-margin-end"
            size="large"
            [src]="category | announcementCategoryToggleIcon:dark.isDark"
          ></ion-icon>
          <h1
            [title]="category | attrTitle:'name'"
            [attr.data-message]="category | attrTitle:'name'"
            class="align-items"
          >
            {{ category.name }}
          </h1>
        </ion-text>
      </ion-col>

      <ion-col size="12" *ngIf="announcement | isInfiniteScroll:0;else Empty">
        <!-- List item -->
        <ion-list class="ion-no-padding">
          <ion-reorder-group
            (ionItemReorder)="doReorder($event)"
            [disabled]="!isOrder"
          >
            <ion-reorder *ngFor="let item of announcement">
              <ion-item
                class="ion-no-padding"
                lines="none"
                detail="false"
                color="none"
              >
                <ion-card>
                  <ion-row>
                    <!-- Image -->
                    <ion-col
                      size-xl="2"
                      size-lg="2"
                      size-md="12"
                      size-sm="12"
                      size="12"
                      class="ion-no-padding"
                      [hidden]="item?.galery?.length === 0"
                    >
                      <picture
                        class="cursor-pointer"
                        [routerLink]="['/pagina', item?.slug]"
                        *ngFor="let image of item?.galery"
                      >
                        <source
                          media="(max-width: 575.98px)"
                          [srcset]="image | galeryValues:'filename':'/images/galery/small/'"
                        />
                        <source
                          media="(max-width: 767.98px) and (min-width: 576px)"
                          [srcset]="image | galeryValues:'filename':'/images/galery/small/'"
                        />
                        <source
                          media="(max-width: 991.98px) and (min-width: 768px)"
                          [srcset]="image | galeryValues:'filename':'/images/galery/medium/'"
                        />
                        <source
                          media="(min-width: 992px)"
                          [srcset]="image | galeryValues:'filename':'/images/galery/x-small/'"
                        />
                        <img
                          [src]="image | galeryValues:'filename':'/images/galery/large/'"
                          [title]="item | attrTitle:'title'"
                          [attr.data-message]="item | attrTitle:'title'"
                          [alt]="'Imagem ' + item?.title"
                        />
                      </picture>
                    </ion-col>

                    <!-- Dados do anúncio -->
                    <ion-col
                      size-xl="8"
                      size-lg="8"
                      size-md="8"
                      size-sm="12"
                      size="12"
                      class="ion-no-padding"
                    >
                      <ion-card-header>
                        <!-- Card Title -->
                        <ion-card-subtitle>
                          <ion-text
                            [color]="
                        (item?.workDays | workDays) === 'Aberto'
                          ? 'success'
                          : 'danger'
                      "
                          >
                            <span
                              [title]="item | attrTitle:'workDays'"
                              [attr.data-message]="item | attrTitle:'workDays'"
                            >
                              {{ item?.workDays | workDays }}
                            </span>
                          </ion-text>
                        </ion-card-subtitle>

                        <ion-card-title
                          [title]="item?.title"
                          [attr.data-message]="item?.title"
                          >{{ item?.title | lnWords:38 }}
                        </ion-card-title>
                      </ion-card-header>

                      <ion-card-content>
                        <ion-card-title>
                          <!-- PRICE -->
                          <ion-text
                            class="ion-hide-md-up"
                            *ngIf="category | isPriceCategoryAnnouncement"
                          >
                            <span> {{ item | isAnnouncementValuePrice }}</span>
                          </ion-text>
                          <!-- PRICE -->
                        </ion-card-title>

                        <ion-card-subtitle class="ion-margin-top address">
                          <address
                            [title]="item | attrTitle:'citie'"
                            [attr.data-message]="item | attrTitle:'citie'"
                          >
                            {{ item | citie }}
                          </address>
                        </ion-card-subtitle>

                        <ion-card-subtitle
                          ><address
                            [title]="item | attrTitle:'address'"
                            [attr.data-message]="item | attrTitle:'address'"
                          >
                            {{ item?.address | address }}
                          </address></ion-card-subtitle
                        >
                      </ion-card-content>
                    </ion-col>

                    <!-- Item com imagens -->
                    <ion-col
                      size-xl="2"
                      size-lg="2"
                      size-md="4"
                      size-sm="12"
                      size="12"
                      class="ion-no-padding"
                      [hidden]="item?.galery?.length === 0"
                    >
                      <ion-card-content class="flex-1">
                        <span
                          *ngIf="category | isPriceCategoryAnnouncement"
                          class="ion-hide-md-down"
                        >
                          {{ item | isAnnouncementValuePrice }}</span
                        >
                        <ion-button
                          shape="round"
                          [routerLink]="['/pagina', item?.slug]"
                          [title]="item | attrTitle:'title'"
                          [attr.data-message]="item | attrTitle:'title'"
                        >
                          Ver página
                        </ion-button>
                      </ion-card-content>
                    </ion-col>

                    <!-- Item sem imagens -->
                    <ion-col
                      size-xl="4"
                      size-lg="4"
                      size-md="4"
                      size-sm="12"
                      size="12"
                      class="ion-no-padding"
                      [hidden]="item?.galery?.length !== 0"
                    >
                      <ion-card-content
                        class="ion-float-xl-end ion-float-lg-end ion-float-md-end ion-float-sm-none ion-float-none flex-1"
                        [ngClass]="{'end': (item | typePlanFree)}"
                      >
                        <ion-button
                          shape="round"
                          [routerLink]="['/pagina', item?.slug]"
                          [title]="item | attrTitle:'title'"
                          [attr.data-message]="item | attrTitle:'title'"
                        >
                          Ver página
                        </ion-button>
                      </ion-card-content>
                    </ion-col>
                  </ion-row>
                </ion-card>
                <ion-icon
                  [hidden]="!isOrder"
                  name="reorder-three"
                  color="medium"
                ></ion-icon>
              </ion-item>
            </ion-reorder>
          </ion-reorder-group>
        </ion-list>
      </ion-col>

      <ng-template #Empty>
        <ion-col size="12">
          <div class="content-center" *ngIf="!isAuth">
            <ion-text class="ion-text-center">
              <p>Não á anúncios no momento.</p>
            </ion-text>
            <ion-button
              [routerLink]="['/cadastrar']"
              title="Cadastrar anúncio"
              expand="block"
              shape="round"
            >
              <ion-icon slot="icon-only" color="light" name="create"></ion-icon>
              Crie uma conta grátis.
            </ion-button>
          </div>

          <div class="content-center" *ngIf="isAuth">
            <ion-text class="ion-text-center">
              <p>Não á anúncios no momento.</p>
            </ion-text>
            <ion-button
              (click)="back()"
              title="Voltar"
              expand="block"
              shape="round"
            >
              <ion-icon
                slot="icon-only"
                color="light"
                name="arrow-back-circle"
              ></ion-icon>
              Voltar
            </ion-button>
          </div>
        </ion-col>
      </ng-template>

      <ion-card *ngIf="!endListCategory">
        <ion-text color="primary" class="ion-text-center">
          <p>FIM</p>
          <p>
            {{ (announcement | isAnnouncement) && announcement.length }}
            Anúncios
          </p>
        </ion-text>
      </ion-card>

      <ion-infinite-scroll
        *ngIf="announcement | isInfiniteScroll:11"
        (ionInfinite)="findMoreCategory($event)"
      >
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Carregando mais dados…"
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>

    <ng-template #Error>
      <ng-container *ngIf="error | async; else loadingNoError">
        <ion-row>
          <ion-col size="12">
            <div class="content-center">
              <div>
                <ion-text class="ion-text-center">
                  <p [ngClass]="{ hide: menssage }">
                    Erro ao carregar anúncios.
                  </p>
                </ion-text>
                <ion-refresher slot="fixed" (ionRefresh)="refresher($event)">
                  <ion-refresher-content
                    pullingIcon="chevron-down-circle-outline"
                    pullingText="Puxe para baixo"
                    refreshingSpinner="circles"
                    refreshingText="Atualizar..."
                  >
                  </ion-refresher-content>
                </ion-refresher>
                <ion-text class="ion-text-center">
                  <ion-button (mousedown)="hideMenssage()"
                    >Puxe para atualizar
                    <ion-icon
                      class="ion-margin-start"
                      name="arrow-down-circle"
                    ></ion-icon>
                  </ion-button>
                </ion-text>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ng-container>

      <ng-template #loadingNoError>
        <ion-row class="ion-margin-horizontal">
          <ion-col size="12" class="ion-margin-vertical">
            <span class="header">
              <ion-skeleton-text animated class="icons"></ion-skeleton-text>
              <ion-skeleton-text animated class="title"></ion-skeleton-text>
            </span>
          </ion-col>
          <ion-col size="12">
            <span *ngFor="let item of sizeSkeleton">
              <div class="cards">
                <ion-skeleton-text animated class="image"></ion-skeleton-text>
                <div>
                  <div class="item_cards">
                    <ion-skeleton-text
                      animated
                      class="title"
                    ></ion-skeleton-text>
                    <ion-skeleton-text
                      animated
                      class="address"
                    ></ion-skeleton-text>
                    <ion-skeleton-text
                      animated
                      class="address_2"
                    ></ion-skeleton-text>
                  </div>
                  <div class="item_cards_btn">
                    <ion-skeleton-text animated class="btn"></ion-skeleton-text>
                  </div>
                </div>
              </div>
            </span>
          </ion-col>
        </ion-row>
      </ng-template>
    </ng-template>

    <!-- Salvar ordenação -->
    <ion-fab
      vertical="bottom"
      horizontal="center"
      slot="fixed"
      title="Salvar ordem da lista de anúncios"
      data-message="Salvar ordem da lista de anúncios"
    >
      <ion-fab-button
        [hidden]="!sendOrder"
        color="primary"
        (click)="saveOrder()"
        ><ion-icon name="save" color="light"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- Ordenar -->
    <ion-fab
      *ngIf="isBtnOrder && error"
      vertical="center"
      horizontal="end"
      slot="fixed"
      title="Ordenar anúncios"
      data-message="Ordenar categoria"
    >
      <ion-fab-button size="small">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button
          color="primary"
          title="Ordenar categorias"
          data-message="Ordenar categorias"
          (click)="orderList()"
        >
          <ion-icon name="reorder-four"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
