<ion-row class="ion-justify-content-evenly">
  <ion-col size="auto" class="center" [hidden]="!socialNetwork?.facebook">
    <a
      [href]="socialNetwork?.facebook"
      rel="noopener noreferrer"
      title="Clique para acessar a página do facebook."
      data-message="Clique para acessar a página do facebook."
      (click)="send($event, 'facebook')"
    >
      <ion-fab-button size="small" class="facebook">
        <ion-icon color="light" name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-col>
  <ion-col size="auto" class="center" [hidden]="!socialNetwork?.instagran">
    <a
      [href]="socialNetwork?.instagran"
      title="Clique para acessar a página do instagram."
      data-message="Clique para acessar a página do instagram."
      (click)="send($event, 'instagram')"
    >
      <ion-fab-button size="small" class="instagram">
        <ion-icon color="light" name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-col>
</ion-row>
