<ion-item-divider>
  <ion-label
    ><ion-icon
      src="../../../../../../../../assets/ion-icon/socialNetwork.svg"
    ></ion-icon>
    Rede Sociais</ion-label
  >
</ion-item-divider>
<ion-item-sliding class="ion-margin-bottom">
  <ion-item lines="none">
    <ion-icon
      slot="end"
      title="Pressione e arraste para a esquerda."
      data-message="Pressione e arraste para a esquerda."
      name="chevron-back"
    ></ion-icon>
    <ion-label>
      <ng-container *ngIf="socialNetwork; else Else">
        <app-show-social-network-announcement-component
          [socialNetwork]="socialNetwork"
        >
        </app-show-social-network-announcement-component>
      </ng-container>
      <ng-template #Else>
        <ion-text color="danger"> Não está cadastrado. </ion-text>
      </ng-template>
    </ion-label>
  </ion-item>

  <ion-item-options>
    <ion-item-option
      *ngIf="user?.level === '1' && socialNetwork"
      slot="end"
      size="small"
      color="danger"
      class="cursor-pointer"
      title="Exclui rede sociais."
      data-message="Exclui rede sociais."
      (click)="destroy()"
    >
      <ion-icon color="light" name="trash" slot="start"></ion-icon>
      delete
    </ion-item-option>
    <ion-item-option
      *ngIf="socialNetwork"
      slot="end"
      size="small"
      class="cursor-pointer"
      title="Editar rede sociais."
      data-message="Editar rede sociais."
      (click)="send()"
    >
      <ion-icon color="light" name="create" slot="start"></ion-icon>
      editar
    </ion-item-option>
    <ion-item-option
      *ngIf="!socialNetwork"
      slot="end"
      size="small"
      class="cursor-pointer"
      title="Editar rede sociais."
      data-message="Editar rede sociais."
      (click)="send()"
    >
      <ion-icon color="light" name="create" slot="start"></ion-icon>
      Cadastrar
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
