<ion-item
  [disabled]="!announcement?.categoryAnnouncement"
  detail="true"
  (click)="route()"
  title="Gerenciar horário de trabalho."
  aria-label="Gerenciar horário de trabalho."
  [attr.aria-disabled]="
    !announcement?.categoryAnnouncement &&
    'Para gerenciar horário de trabalho cadastre uma categoria.'
  "
  button
>
  <ion-icon name="timer" slot="start"></ion-icon>
  <ion-label
    >Horário de trabalho
    <ion-text [color]="announcement?.workDays ? 'success' : 'danger'">
      *
    </ion-text>
  </ion-label>
</ion-item>
