<app-header-component></app-header-component>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngIf="advert$ | async;let advert; else Empty" size="12">
        <ion-item-group class="ion-margin-bottom">
          <ion-item-divider>
            <ion-label>Categorias</ion-label>
          </ion-item-divider>

          <ion-list>
            <ion-item>
              <ion-select
                *ngIf="category$ | async; let category;"
                placeholder="Selecione uma categoria"
                (ionChange)="selectCategory($event, advert?.categoryAdvert)"
                [value]="advert?.categoryAdvert?.catAdId || null"
              >
                <ion-select-option
                  *ngFor="let item of category"
                  [value]="item?.id"
                  >{{ item?.name }}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider>
            <ion-icon color="mediun" name="person" slot="start"></ion-icon>
            <ion-label>Gerenciamento do anúncio</ion-label>
          </ion-item-divider>

          <!-- State -->
          <ion-item
            [disabled]="advert?.categoryAdvert === null || advert?.blockade"
          >
            <ion-label
              >{{ advert?.state ? 'Conectado' : 'Desligado'}}</ion-label
            >
            <ion-toggle
              slot="end"
              (ionChange)="state(advert)"
              [checked]="advert?.state"
              title="Alternar entre anúncio conectado ou desligado."
              aria-label="Clique para alternar entre anúncio conectado ou desligado."
              [attr.aria-disabled]="'Botão alterar status ' + advert?.blockade ? 'abilitado.' : 'desabilitado'"
            >
            </ion-toggle>
            <ion-icon
              slot="start"
              [name]="advert?.state  ? 'eye': 'eye-off'"
            ></ion-icon>
          </ion-item>

          <!-- Name -->
          <ion-item
            [disabled]="advert?.categoryAdvert === null || advert?.blockade"
            detail="true"
            (click)="updateAdvert(advert)"
            title="Alterar anúncio"
            aria-label="Clique para alterar anúncio"
            [attr.aria-disabled]="'Botão alterar anúncio ' + advert?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-label>Anúncio</ion-label>
          </ion-item>

          <!-- Cidade estado -->
          <ion-item
            [disabled]="advert?.categoryAdvert === null || advert?.blockade"
            detail="true"
            (click)="cities(advert)"
            title="Alterar Titulo e descrição"
            aria-label="Clique para alterar Titulo e descrição"
            [attr.aria-disabled]="'Botão alterar Titulo e descrição ' + advert?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>Cidade</ion-label>
          </ion-item>

          <!-- Endereço -->
          <ion-item
            [disabled]="advert?.categoryAdvert === null || advert?.blockade"
            detail="true"
            (click)="address(advert)"
            title="Alterar endereço"
            aria-label="Clique para alterar endereço"
            [attr.aria-disabled]="'Clique para alterar endereço ' + advert?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="location" slot="start"></ion-icon>
            <ion-label>Endereço</ion-label>
          </ion-item>

          <!-- Contato -->
          <ion-item
            [disabled]="advert?.categoryAdvert === null || advert?.blockade"
            detail="true"
            (click)="contacts(advert)"
            title="Alterar Titulo e descrição"
            aria-label="Clique para alterar Titulo e descrição"
            [attr.aria-disabled]="'Botão alterar Titulo e descrição ' + advert?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Contato</ion-label>
          </ion-item>

          <!-- Galeria -->
          <ion-item
            [disabled]="advert?.categoryAdvert === null || advert?.blockade || advert?.level === '2'"
            detail="true"
            (click)="selectImages(advert)"
            title="Alterar Titulo e descrição"
            aria-label="Clique para alterar Titulo e descrição"
            [attr.aria-disabled]="'Botão alterar Titulo e descrição ' + advert?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="images" slot="start"></ion-icon>
            <ion-label>Galeria de imagens</ion-label>
          </ion-item>

          <!-- Coordenadas -->
          <ion-item
            [disabled]="advert?.categoryAdvert === null || advert?.blockade || advert?.level === '2'"
            detail="true"
            (click)="coordinates(advert)"
            title="Alterar Titulo e descrição"
            aria-label="Clique para alterar Titulo e descrição"
            [attr.aria-disabled]="'Botão alterar Titulo e descrição ' + advert?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="map" slot="start"></ion-icon>
            <ion-label>Mapa</ion-label>
          </ion-item>

          <!-- Redes Sociais -->
          <ion-item
            [disabled]="advert?.categoryAdvert === null || advert?.blockade || advert?.level === '2'"
            detail="true"
            (click)="socialNetwork(advert)"
            title="Alterar Titulo e descrição"
            aria-label="Clique para alterar Titulo e descrição"
            [attr.aria-disabled]="'Botão alterar Titulo e descrição ' + advert?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="share-social" slot="start"></ion-icon>
            <ion-label>Rede social</ion-label>
          </ion-item>

          <!-- Horario de funcionamento -->
          <ion-item
            [disabled]="advert?.categoryAdvert === null || advert?.blockade"
            detail="true"
            [routerLink]="['horario-de-funcionamento']"
            title="Alterar Titulo e descrição"
            aria-label="Clique para inserir o horário de funcionamento"
            [attr.aria-disabled]="'Clique para inserir o horário de funcionamento ' + advert?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="timer" slot="start"></ion-icon>
            <ion-label>Horário de funcionamento</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-col>
      <ng-template #Empty>
        <ion-col size="12">
          <div class="content-center">
            <div>
              <ion-text class="ion-text-center">
                <p>Não a anúncio cadastrado</p>
              </ion-text>
              <ion-button (click)="createAdvert()" expand="block" shape="round">
                <ion-icon
                  slot="start"
                  name="create"
                  class="ion-margin-end"
                ></ion-icon>
                Cadastrar
              </ion-button>
            </div>
          </div>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
