<ion-item
  *ngIf="!isAdmin; else Else"
  [disabled]="!announcement?.categoryAnnouncement || !announcement?.citie"
  detail="true"
  (click)="address(announcement)"
  title="Gerenciar endereço"
  aria-label="Gerenciar endereço."
  [attr.aria-disabled]="
    !announcement?.categoryAnnouncement &&
    'Para gerenciar endereço cadastre uma categoria.'
  "
  button
>
  <ion-icon name="location" slot="start"></ion-icon>
  <ion-label
    >Endereço
    <ion-text [color]="announcement?.address ? 'success' : 'danger'">
      *
    </ion-text>
  </ion-label>
</ion-item>

<ng-template #Else>
  <app-address-admin-management
    [announcement]="announcement"
  ></app-address-admin-management>
</ng-template>
