<ion-item-group>
  <ion-item-divider>
    <ion-label
      ><ion-icon name="timer"></ion-icon> Horário de funcionamento</ion-label
    >
  </ion-item-divider>

  <ion-item-sliding class="ion-margin-bottom">
    <ion-item lines="true">
      <ion-icon
        slot="end"
        title="Pressione e arraste para a esquerda."
        data-message="Pressione e arraste para a esquerda."
        name="chevron-back"
      ></ion-icon>
      <ng-container *ngIf="workDays; else Else">
        <div class="row">
          <dl *ngFor="let days of daysOfTheWeekPT; let i = index">
            <dt>
              <ion-text color="medium">
                {{ days }}
              </ion-text>
            </dt>
            <ion-text
              [hidden]="workDays[daysOfTheWeek[i]]?.start"
              color="danger"
            >
              <dd>Não está cadastrado.</dd>
            </ion-text>
            <dd [hidden]="!workDays[daysOfTheWeek[i]]?.start">
              <ion-text color="medium">
                Início:
                <time>{{
                  workDays[daysOfTheWeek[i]]?.start | date : "HH:mm"
                }}</time>
              </ion-text>
            </dd>
            <dd [hidden]="!workDays[daysOfTheWeek[i]]?.startInterval">
              <ion-text color="medium">
                Intervalo início:
                <time>{{
                  workDays[daysOfTheWeek[i]]?.startInterval | date : "HH:mm"
                }}</time>
              </ion-text>
            </dd>
            <dd [hidden]="!workDays[daysOfTheWeek[i]]?.endInterval">
              <ion-text color="medium">
                Intervalo fim:
                <time>
                  {{
                    workDays[daysOfTheWeek[i]]?.endInterval | date : "HH:mm"
                  }}</time
                >
              </ion-text>
            </dd>
            <dd [hidden]="!workDays[daysOfTheWeek[i]]?.end">
              <ion-text color="medium">
                Fim:
                <time>
                  {{ workDays[daysOfTheWeek[i]]?.end | date : "HH:mm" }}</time
                >
              </ion-text>
            </dd>
          </dl>
        </div>
      </ng-container>
      <ng-template #Else> Não está cadastrado.</ng-template>
    </ion-item>

    <ion-item-options>
      <ion-item-option
        *ngIf="user?.level === '1' && workDays"
        slot="end"
        size="small"
        color="danger"
        class="cursor-pointer"
        title="Exclui horário de funcionamento"
        data-message="Exclui horário de funcionamento"
        (click)="destroy()"
      >
        <ion-icon color="light" name="trash" slot="start"></ion-icon>
        delete
      </ion-item-option>
      <ion-item-option
        slot="end"
        size="small"
        class="cursor-pointer"
        [title]="workDays ? 'Editar' : 'Cadastrar' + 'horário de funcionamento'"
        [data-message]="
          workDays ? 'Editar' : 'Cadastrar' + 'horário de funcionamento'
        "
        (click)="modalClose()"
        [routerLink]="[
          '/painel-de-controle',
          'anuncio',
          announcement?.slug,
          'dias-da-semana'
        ]"
      >
        <ion-icon color="light" name="create" slot="start"></ion-icon>
        {{ workDays ? "Editar" : "Cadastrar" }}
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-item-group>
