<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref></ion-back-button>
    </ion-buttons>
    <ion-title>Gerenciamento de categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="category$ | async;let category;" fixed>
    <!-- card image -->
    <app-image-category-component
      [category]="category"
    ></app-image-category-component>

    <ion-item-group>
      <ion-row>
        <ion-col size="12">
          <!-- status -->
          <app-category-announcement-state-component
            [category]="category"
          ></app-category-announcement-state-component>

          <!-- Nome e descrição -->
          <app-category-announcement-update-component
            [category]="category"
          ></app-category-announcement-update-component>

          <app-destroy-announcement-component
            [category]="category"
          ></app-destroy-announcement-component>
        </ion-col>
      </ion-row>
    </ion-item-group>
  </ion-grid>
</ion-content>
