<ion-item
  *ngIf="announcement"
  [disabled]="
    announcement?.categoryAnnouncement === null ||
    announcement?.blockade ||
    user?.plan === 'free'
  "
  detail="true"
  (click)="coordinates(announcement)"
  title="Alterar Titulo e descrição"
  aria-label="Clique para alterar Titulo e descrição"
  [attr.aria-disabled]="
    'Botão alterar Titulo e descrição ' + announcement?.blockade
      ? 'abilitado.'
      : 'desabilitado'
  "
  button
>
  <ion-icon name="map" slot="start"></ion-icon>
  <ion-label>Mapa</ion-label>
</ion-item>
