<ion-item
  *ngIf="announcement"
  [disabled]="announcement?.blockade"
  detail="true"
  (click)="coordinates()"
  title="Alterar mapa"
  aria-label="Clique para alterar mapa"
  [attr.aria-disabled]="
    'Botão alterar mapa ' + announcement?.blockade
      ? 'abilitado.'
      : 'desabilitado'
  "
  button
>
  <ion-icon name="map" slot="start"></ion-icon>
  <ion-label
    >Mapa
    <ion-text [color]="announcement?.coordinate ? 'success' : 'danger'">
      *
    </ion-text>
  </ion-label>
</ion-item>
