.search {
  display: flex;
  flex-wrap: nowrap;
}
.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width: 98.4%;
  margin-top: -7px;
  left: 8px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 99999;
}

.show {
  display: block;
}

.list,
.list-lg,
.list-md,
.list-sm,
.list-xl {
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-thumbnail {
  width: 35px;
  height: auto;
}
