<ion-grid>
  <ion-row>
    <ion-col size="12">
      <div class="dropdown">
        <div class="search">
          <ion-searchbar
            *ngIf="dark$ | async; let dark"
            [color]="dark.isDark ? 'medium' : 'none'"
            #searchbar
            showClearButton="focus"
            [placeholder]="placeholder"
            inputmode="search"
            (ionChange)="research($event)"
            animated
          >
          </ion-searchbar>
          <div>
            <ion-fab-button
              (click)="menuShow($event)"
              size="small"
              color="none"
              title="Filtro da pesquiza"
            >
              <ion-icon name="filter"></ion-icon>
            </ion-fab-button>
          </div>
        </div>

        <div
          class="dropdown-content"
          *ngIf="search$ | async as list"
          [ngClass]="{ show: show }"
        >
          <ion-list
            class="list list-lg list-md list-sm list-xl"
            *ngIf="list.length > 0; else Else"
          >
            <ion-item
              button
              detail
              *ngFor="let item of list; last as Last"
              [lines]="Last ? 'none' : 'full'"
              (click)="sendUrl(item)"
            >
              <ion-thumbnail slot="start">
                <img
                  [src]="item?.image?.url || './../../../assets/thumbnail.svg'"
                />
              </ion-thumbnail>
              <ion-label>{{ item?.name }} </ion-label>
            </ion-item>
          </ion-list>

          <ng-template #Else>
            <ion-list class="list list-lg list-md list-sm list-xl">
              <ion-item lines="none">
                <ion-label>Não encontrado </ion-label>
              </ion-item>
            </ion-list>
          </ng-template>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
