ion-label {
  font-size: small !important;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.order {
  order: 1;
}

ion-accordion {
  margin: 0 auto;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);

  margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot="header"],
ion-accordion.accordion-collapsed ion-item[slot="header"] {
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

ion-fab.fadeOut {
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100px);
}

ion-fab.fadeIn {
  opacity: 1;
  transform: translateY(0px);
}

.col-12 {
  height: 48px;
}

.info {
  position: absolute;
  height: 48px;
  opacity: 0;
  transition: 0.4s;
  transform: translateY(-100px);
  ul {
    list-style-type: none;
    display: inline-block;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
    > li {
      font-size: x-small;
    }
  }
}
.info.show {
  opacity: 1;
  display: inline-block;
  transform: translateY(0px);
}
.footer {
  height: 48px;
  transition: 0.3s;
}

.icon-order {
  opacity: 0;
  transition: 0.3s;
  transform: translateX(-50px);
}

.icon-order.show {
  opacity: 1;
  transform: translateX(0px);
}
