<app-header-component></app-header-component>

<ion-content [fullscreen]="true">
  <ion-grid fixed *ngIf="user$ | async; let user;">
    <ion-row>
      <ion-col size="12">
        <app-enabled-item-announcement-page
          [user]="user"
          (isAnnouncement)="getIsAnnouncement($event)"
        ></app-enabled-item-announcement-page>

        <app-button-create-announcement
          [isButton]="isAnnouncement"
          [user]="user"
        ></app-button-create-announcement>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
