ion-avatar {
    width: 26px;
    height: 26px;
    margin: 0 auto;
}

// ion-tab-button {
//     --color: var(--ion-color-light);
//     --color-focused: var(--ion-color-light-tint);
//     --background-focused-opacity: 0.5;
//     --color-selected: var(--ion-color-light-tint);
// }

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        ion-avatar {
            margin-top: 10px;
        }
        ion-label {
            position: absolute;
            bottom: 1px;
            font-size: xx-small;
            letter-spacing: 0.7px;
        }
    }
}
