<ion-item
  [disabled]="!announcement?.categoryAnnouncement"
  detail="true"
  (click)="contacts(announcement)"
  title="Gerenciar contato."
  aria-label="Gerenciar contato."
  [attr.aria-disabled]="
    !announcement?.categoryAnnouncement &&
    'Para gerenciar contato cadastre uma categoria.'
  "
  button
>
  <ion-icon
    src="../../../../../../assets/ion-icon/contact.svg"
    slot="start"
  ></ion-icon>
  <ion-label
    >Contato

    <ion-text [color]="announcement?.contact ? 'success' : 'danger'">
      *
    </ion-text>
  </ion-label>
</ion-item>
