<ion-segment [scrollable]="true" mode="md" color="none">
  <ion-segment-button layout="icon-top" title="Gostei" data-message="Gostei">
    <ion-icon name="thumbs-up"></ion-icon>
    <ion-label>123</ion-label>
  </ion-segment-button>
  <ion-segment-button
    layout="icon-top"
    title="Não gostei"
    data-message="Não gostei"
  >
    <ion-icon name="thumbs-down"></ion-icon>
    <ion-label>32</ion-label>
  </ion-segment-button>
  <ion-segment-button
    layout="icon-top"
    title="Copiar link da página"
    data-message="Copiar link da página"
    (click)="clipboard()"
  >
    <ion-icon name="copy"></ion-icon>
    <ion-label>Link</ion-label>
  </ion-segment-button>
  <ion-segment-button
    [hidden]="!isSupportShare"
    layout="icon-top"
    title="Compartilhar página"
    data-message="Compartilhar página"
    (click)="share(announcement)"
  >
    <ion-icon name="share-social"></ion-icon>
    <ion-label>Compartilhar</ion-label>
  </ion-segment-button>
</ion-segment>
