<ion-item *ngIf="announcement && user | isUserLevel : '1'">
  <ion-label>{{
    (announcement | isAnnouncementAttrValues : "blockade")
      ? "Bloqueado"
      : "Desbloqueado"
  }}</ion-label>
  <ion-toggle
    slot="end"
    (ionChange)="blockade()"
    [checked]="announcement | isAnnouncementAttrValues : 'blockade'"
    title="Alternar entre usuário bloquear e desbloquear."
    aria-label="Clique para alternar entre usuário bloquear e desbloquear."
  ></ion-toggle>
  <ion-icon
    slot="start"
    [name]="
      (announcement | isAnnouncementAttrValues : 'blockade') ? 'stop' : 'play'
    "
  ></ion-icon>
</ion-item>
