<ion-row class="ion-justify-content-evenly">
  <ion-col
    size="auto"
    class="center"
    [hidden]="!(announcement | isAttrContact : 'whatsapp')"
  >
    <a
      [href]="
        announcement
          | announcementContactValues
            : 'whatsapp'
            : 'https://api.whatsapp.com/send?phone=55'
      "
      rel="noopener noreferrer"
      [title]="
        announcement
          | contactAttrValuesMask
            : 'whatsapp'
            : 'Envie uma menssagem para whatsapp'
      "
      [attr.data-message]="
        announcement
          | contactAttrValuesMask
            : 'whatsapp'
            : 'Envie uma menssagem para whatsapp'
      "
      (click)="send($event, 'whatsapp')"
    >
      <ion-fab-button size="small" color="success">
        <ion-icon color="light" name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-col>
  <ion-col
    size="auto"
    class="center"
    [hidden]="!(announcement | isAttrContact : 'phone')"
  >
    <a
      [href]="announcement | announcementContactValues : 'phone' : 'tel:'"
      [title]="
        announcement
          | contactAttrValuesMask : 'phone' : 'Ligue para o telefone comercial'
      "
      [attr.data-message]="
        announcement
          | contactAttrValuesMask : 'phone' : 'Ligue para o telefone comercial'
      "
      (click)="send($event, 'phone')"
    >
      <ion-fab-button size="small" color="secondary">
        <ion-icon color="light" name="call"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-col>
  <ion-col
    size="auto"
    class="center"
    [hidden]="!(announcement | isAttrContact : 'mobilePhone')"
  >
    <a
      [href]="announcement | announcementContactValues : 'mobilePhone' : 'tel:'"
      [title]="
        announcement
          | contactAttrValuesMask
            : 'mobilePhone'
            : 'Ligue para o telefone celular'
      "
      [attr.data-message]="
        announcement
          | contactAttrValuesMask
            : 'mobilePhone'
            : 'Ligue para o telefone celular'
      "
      (click)="send($event, 'mobilePhone')"
    >
      <ion-fab-button size="small" color="tertiary">
        <ion-icon color="light" name="phone-portrait"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-col>

  <ion-col
    size="auto"
    class="center"
    [hidden]="!(announcement | isAttrAnnouncementUser : 'email')"
  >
    <a
      [href]="announcement | announcementUserValues : 'email' : 'mailto:'"
      [title]="
        announcement | announcementUserValues : 'email' : 'Envie um email:'
      "
      [attr.data-message]="
        announcement | announcementUserValues : 'email' : 'Envie um email:'
      "
      (click)="send($event, 'email')"
    >
      <ion-fab-button size="small" color="tertiary">
        <ion-icon color="light" name="mail"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-col>
</ion-row>
