<ion-row class="ion-justify-content-evenly">
  <ion-col size="auto" class="center" [hidden]="!contact?.whatsapp">
    <a
      [href]="'https://api.whatsapp.com/send?phone=55' + contact?.whatsapp"
      rel="noopener noreferrer"
      [title]="
        'Envie uma menssagem para whatsapp ' +
        (contact?.whatsapp | mask : 'whatsapp')
      "
      [attr.data-message]="
        'Envie uma menssagem para whatsapp ' +
        (contact?.whatsapp | mask : 'whatsapp')
      "
      (click)="send($event, 'whatsapp')"
    >
      <ion-fab-button size="small" color="success">
        <ion-icon color="light" name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-col>
  <ion-col size="auto" class="center" [hidden]="!contact?.phone">
    <a
      [href]="'tel:' + contact?.phone"
      [title]="
        'Ligue para o telefone comercial ' + (contact?.phone | mask : 'phone')
      "
      [attr.data-message]="
        'Ligue para o telefone comercial ' + (contact?.phone | mask : 'phone')
      "
      (click)="send($event, 'phone')"
    >
      <ion-fab-button size="small" color="secondary">
        <ion-icon color="light" name="call"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-col>
  <ion-col size="auto" class="center" [hidden]="!contact?.mobilePhone">
    <a
      [href]="'tel:' + contact?.mobilePhone"
      [title]="
        'Ligue para o telefone celular ' +
        (contact?.mobilePhone | mask : 'mobilePhone')
      "
      [attr.data-message]="
        'Ligue para o telefone celular ' +
        (contact?.mobilePhone | mask : 'mobilePhone')
      "
      (click)="send($event, 'mobilePhone')"
    >
      <ion-fab-button size="small" color="tertiary">
        <ion-icon color="light" name="phone-portrait"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-col>
</ion-row>
