<ion-card-header>
  <!-- Categoria -->
  <ion-card-subtitle
    [title]="
      announcement | isAnnouncementCategoryAttrValues : 'name' : 'Categoria'
    "
    [attr.data-message]="
      announcement | isAnnouncementCategoryAttrValues : 'name' : 'Categoria'
    "
    >{{
      announcement | isAnnouncementCategoryAttrValues : "name"
    }}</ion-card-subtitle
  >

  <!-- Title -->
  <ion-card-title
    [title]="announcement | announcementValues : 'title'"
    [attr.data-message]="announcement | announcementValues : 'title'"
    >{{ announcement | announcementValues : "title" }}
    <span
      *ngIf="announcement | isAnnouncementValuePrice"
      class="ion-float-right"
    >
      {{ announcement | isAnnouncementValuePrice }}</span
    ></ion-card-title
  >

  <!-- Horario de trabalho -->
  <ion-card-subtitle
    [hidden]="!announcement | isAnnouncementAttrValues : 'workDays'"
  >
    <ion-text
      [color]="
        (announcement.workDays | workDays) === 'Aberto' ? 'success' : 'danger'
      "
      [title]="announcement | attrTitle : 'workDays'"
      [attr.data-message]="announcement | attrTitle : 'workDays'"
    >
      {{ announcement.workDays | workDays }}
    </ion-text>
  </ion-card-subtitle>

  <!-- Plano tempo do cadastro -->
  <ion-card-subtitle
    [color]="(announcement | allowAd) ? 'danger' : 'success'"
    title="Cadastro incompleto"
    data-message="Cadastro incompleto"
    >Cadastro
    {{ (announcement | allowAd) ? "incompleto" : "completo" }}
  </ion-card-subtitle>

  <!-- Aviso de bloqueio -->
  <ion-card-subtitle
    *ngIf="announcement | announcementValues : 'blockade'"
    color="danger"
    title="Anúncio bloqueado"
    data-message="Anúncio bloqueado"
    >Anúncio bloqueado
  </ion-card-subtitle>

  <!-- State -->
  <ion-card-subtitle>
    <ul>
      <li class="plan" title="Plano" data-message="Plano">
        <ion-text>
          Plano:
          <span *ngIf="announcement?.plan?.type === 'free'">Grátis</span>
          <span *ngIf="announcement?.plan?.type === 'basic'">Básico</span>
          <span *ngIf="announcement?.plan?.type === 'special'">Especial</span>
        </ion-text>
      </li>
      <li
        class="plan"
        [hidden]="!(announcement | announcementPlanValues : 'start')"
      >
        <ion-text>
          {{
            announcement | announcementPlanValues : "start" | time : "create"
          }}
        </ion-text>
      </li>
      <li
        class="plan ion-margin-bottom"
        [hidden]="!(announcement | announcementPlanValues : 'end')"
      >
        <ion-text>
          {{ announcement | announcementPlanValues : "end" | time : "plan" }}
        </ion-text>
      </li>

      <li
        class="plan ion-margin-bottom"
        [hidden]="
          (announcement | announcementPlanValues : 'start') &&
          (announcement | announcementPlanValues : 'end')
        "
      >
        <ion-text> Recursos são limitado </ion-text>
      </li>

      <li
        [title]="
          'Status' + (announcement | announcementValues : 'state')
            ? 'Online'
            : 'Offline'
        "
        [attr.data-message]="
          'Status' + (announcement | announcementValues : 'state')
            ? 'Online'
            : 'Offline'
        "
      >
        <ion-icon
          size="small"
          [color]="
            (announcement | announcementValues : 'state') ? 'success' : 'danger'
          "
          [name]="
            (announcement | announcementValues : 'state') ? 'eye' : 'eye-off'
          "
        ></ion-icon>
        <ion-text
          [color]="
            (announcement | announcementValues : 'state') ? 'success' : 'danger'
          "
        >
          {{
            (announcement | announcementValues : "state") ? "Online" : "Offline"
          }}
        </ion-text>
      </li>

      <li>
        <ion-icon size="small" name="time"></ion-icon
        >{{ announcement | announcementValues : "createdAt" | time : "create" }}
      </li>
      <li>
        <ion-icon size="small" name="timer"></ion-icon
        >{{ announcement | announcementValues : "updatedAt" | time : "update" }}
      </li>
    </ul>
  </ion-card-subtitle>

  <ion-card-subtitle *ngIf="dark$ | async; let dark">
    <ion-chip
      [color]="dark.isDark ? 'none' : 'primary'"
      mode="ios"
      outline="true"
    >
      <ion-icon name="thumbs-up"></ion-icon>
      <ion-label>{{ announcement.like ? announcement.like.yes : 0 }}</ion-label>
    </ion-chip>
    <ion-chip
      [color]="dark.isDark ? 'none' : 'primary'"
      mode="ios"
      outline="true"
    >
      <ion-label>{{ announcement.like ? announcement.like.not : 0 }}</ion-label>
      <ion-icon name="thumbs-down"></ion-icon>
    </ion-chip>
  </ion-card-subtitle>
</ion-card-header>
