<ion-card-header>
  <!-- Categoria -->
  <ion-card-subtitle
    [title]="'Categoria ' + announcement?.category?.name"
    [attr.data-message]="'Categoria ' + announcement?.category?.name"
    >{{ announcement?.category?.name }}</ion-card-subtitle
  >

  <!-- Title -->
  <ion-card-title
    [title]="announcement?.title"
    [attr.data-message]="announcement?.title"
    >{{ announcement?.title }}</ion-card-title
  >

  <!-- Horario de trabalho -->
  <ion-card-subtitle [hidden]="!announcement?.workDays">
    <ion-text
      [color]="
        (announcement?.workDays | workDays) === 'Aberto' ? 'success' : 'danger'
      "
      [title]="announcement | attrTitle : 'workDays'"
      [attr.data-message]="announcement | attrTitle : 'workDays'"
    >
      {{ announcement?.workDays | workDays }}
    </ion-text>
  </ion-card-subtitle>

  <!-- Plano tempo do cadastro -->
  <ion-card-subtitle
    [color]="(announcement | allowAd) ? 'danger' : 'success'"
    title="Cadastro incompleto"
    data-message="Cadastro incompleto"
    >Cadastro {{ (announcement | allowAd) ? "incompleto" : "completo" }}
    <ion-icon
      [name]="(announcement | allowAd) ? 'thumbs-down' : 'thumbs-up'"
    ></ion-icon
  ></ion-card-subtitle>

  <!-- State -->
  <ion-card-subtitle>
    <ul>
      <li class="plan" title="Plano" data-message="Plano">
        <ion-text>
          Plano:
          <span *ngIf="announcement?.plan?.type === 'free'">Grátis</span>
          <span *ngIf="announcement?.plan?.type === 'basic'">Básico</span>
          <span *ngIf="announcement?.plan?.type === 'special'">Especial</span>
        </ion-text>
      </li>
      <li class="plan" [hidden]="!announcement?.plan?.start">
        <ion-text>
          {{ announcement?.plan?.start | time : "create" }}
        </ion-text>
      </li>
      <li class="plan ion-margin-bottom" [hidden]="!announcement?.plan?.end">
        <ion-text>
          {{ announcement?.plan?.end | time : "plan" }}
        </ion-text>
      </li>

      <li
        [title]="'Status' + announcement?.state ? 'Online' : 'Offline'"
        [attr.data-message]="
          'Status' + announcement?.state ? 'Online' : 'Offline'
        "
      >
        <ion-icon
          size="small"
          [color]="announcement?.state ? 'success' : 'danger'"
          [name]="announcement?.state ? 'eye' : 'eye-off'"
        ></ion-icon>
        <ion-text [color]="announcement?.state ? 'success' : 'danger'">
          {{ announcement?.state ? "Online" : "Offline" }}
        </ion-text>
      </li>

      <li>
        <ion-icon size="small" name="time"></ion-icon
        >{{ announcement?.createdAt | time : "create" }}
      </li>
      <li>
        <ion-icon size="small" name="timer"></ion-icon
        >{{ announcement?.updatedAt | time : "update" }}
      </li>
    </ul>
  </ion-card-subtitle>
</ion-card-header>
