<ion-header [hidden]="hasHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref></ion-back-button>
    </ion-buttons>
    <ion-title>Gerenciamento do anúncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="user$ | async;let user;" fixed>
    <ion-row>
      <ng-container *ngIf="announcement$ | async;let announcement; else Error">
        <ion-col
          [hidden]="!announcement?.title"
          size="12"
          class="ion-margin-vertical"
        >
          <ion-text color="primary">
            <h1 [title]="announcement?.title">
              {{ announcement?.title | lnWords:52 }}
            </h1>
          </ion-text>
        </ion-col>
        <ng-container *ngIf="isAnnouncement; else Association">
          <ion-col size="12" *ngIf="announcement | allowAd">
            <ion-card>
              <ion-card-header color="warning">
                <ion-card-title>Observação!</ion-card-title>
                <ion-card-subtitle>Cadastro incompleto </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="ion-margin-top">
                <ion-text>
                  <ul>
                    <li>Cidade obrigatório.</li>
                    <li>Endereço obrigatório.</li>
                    <li>Contato obrigatório.</li>
                  </ul>
                  <p class="ion-text-end">Estes itens são obrigatórios.</p>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- Categorias  -->
          <ion-col size="12" class="ion-margin-vertical">
            <app-category-component
              [announcement]="announcement"
            ></app-category-component>
          </ion-col>

          <!-- Galery -->
          <ion-col
            *ngIf="announcement?.category"
            size="12"
            class="ion-margin-vertical"
          >
            <app-galery-announcement-component
              [announcement]="announcement"
              (isHeader)="isHeader($event)"
            ></app-galery-announcement-component>
          </ion-col>
          <!-- List Item -->
          <ion-col
            *ngIf="announcement?.category"
            size="12"
            class="ion-margin-vertical"
          >
            <ion-item-group>
              <!-- Blockade -->
              <app-blockade-announcement-component
                [announcement]="announcement"
                [isAdmin]="user?.level === '1'"
              ></app-blockade-announcement-component>

              <!-- State -->
              <app-state-announcement-component
                [announcement]="announcement"
              ></app-state-announcement-component>

              <!-- Name -->
              <app-announcement-component
                [announcement]="announcement"
                [user]="user"
              ></app-announcement-component>

              <!-- Cidade estado -->
              <app-city-announcement-component
                [announcement]="announcement"
              ></app-city-announcement-component>

              <!-- Endereço -->
              <app-address-announcement-component
                [announcement]="announcement"
              ></app-address-announcement-component>

              <!-- Contato -->
              <app-contant-announcement-component
                [announcement]="announcement"
              ></app-contant-announcement-component>

              <!-- Coordenadas -->
              <app-map-announcement-component
                [announcement]="announcement"
              ></app-map-announcement-component>

              <!-- Redes Sociais -->
              <app-social-network-component
                [announcement]="announcement"
              ></app-social-network-component>

              <!-- Horario de funcionamento -->
              <app-button-work-days
                [announcement]="announcement"
              ></app-button-work-days>
            </ion-item-group>
          </ion-col>
        </ng-container>

        <ng-template #Association>
          <ion-col *ngIf="announcement?.category" size="12">
            <app-work-days [announcement]="announcement"></app-work-days>
          </ion-col>
        </ng-template>
      </ng-container>

      <ng-template #Error>
        <ion-col size="12">
          <div class="content-center">
            <ion-icon
              name="warning"
              color="medium"
              style="font-size: 100px"
            ></ion-icon>
            <ion-text color="primary"> Anúncio não existe </ion-text>
            <ion-button
              (click)="back()"
              fill="outline"
              expand="block"
              class="ion-margin-top"
            >
              <ion-icon
                name="arrow-back-circle"
                class="ion-margin-end"
              ></ion-icon>
              voutar
            </ion-button>
          </div>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>
