<ion-header [hidden]="hasHeader || isRoute === 'galery'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref></ion-back-button>
    </ion-buttons>
    <ion-title>Anúncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="user$ | async;let user;" fixed>
    <ion-row>
      <ng-container *ngIf="announcement$ | async;let announcement; else Error">
        <ion-col
          [hidden]="!announcement?.title"
          size="12"
          class="ion-margin-vertical"
        >
          <ion-text color="primary">
            <h1 [title]="announcement?.title">
              {{ announcement?.title | lnWords:52 }}
            </h1>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-card>
            <ion-card-header color="warning">
              <ion-card-title>Atenção</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-margin-top">
              <ion-text>
                <p>Éste anúncio será avaliado em 24 horas.</p>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ng-container *ngIf="isAnnouncement; else Association">
          <!-- Categorias  -->
          <ion-col size="12" class="ion-margin-vertical">
            <app-category-component
              [announcement]="announcement"
            ></app-category-component>
          </ion-col>

          <!-- Galery -->
          <ion-col
            *ngIf="announcement?.categoryAnnouncement"
            size="12"
            class="ion-margin-vertical"
          >
            <app-galery-component
              [announcement]="announcement"
              [user]="user"
              (isHeader)="isHeader($event)"
            ></app-galery-component>
          </ion-col>
          <!-- List Item -->
          <ion-col
            *ngIf="announcement?.categoryAnnouncement"
            size="12"
            class="ion-margin-vertical"
          >
            <ion-item-group>
              <!-- Blockade -->
              <app-blockade-announcement-component
                [announcement]="announcement"
                [isAdmin]="user?.level === '1'"
              ></app-blockade-announcement-component>

              <!-- State -->
              <app-state-announcement-component
                [announcement]="announcement"
              ></app-state-announcement-component>

              <!-- Name -->
              <app-announcement-component
                [announcement]="announcement"
                [user]="user"
              ></app-announcement-component>

              <!-- Cidade estado -->
              <app-city-component
                [announcement]="announcement"
              ></app-city-component>

              <!-- Endereço -->
              <app-address-announcement-component
                [announcement]="announcement"
              ></app-address-announcement-component>

              <!-- Contato -->
              <app-contant-announcement-component
                [announcement]="announcement"
              ></app-contant-announcement-component>

              <!-- Coordenadas -->
              <app-map-component
                [user]="user"
                [announcement]="announcement"
              ></app-map-component>

              <!-- Redes Sociais -->
              <app-social-network-component
                [user]="user"
                [announcement]="announcement"
              ></app-social-network-component>

              <!-- Horario de funcionamento -->
              <app-button-opening-hour
                [announcement]="announcement"
                (route)="toggleRoute($event)"
              ></app-button-opening-hour>
            </ion-item-group>
          </ion-col>
        </ng-container>

        <ng-template #Association>
          <ion-col *ngIf="announcement?.categoryAnnouncement" size="12">
            <app-opening-hour
              [announcement]="announcement"
              (route)="toggleRoute($event)"
            ></app-opening-hour>
          </ion-col>
        </ng-template>
      </ng-container>

      <ng-template #Error>
        <ion-col size="12">
          <div class="content-center">
            <ion-icon
              name="warning"
              color="medium"
              style="font-size: 100px"
            ></ion-icon>
            <ion-text color="primary"> Anúncio não existe </ion-text>
            <ion-button
              (click)="back()"
              fill="outline"
              expand="block"
              class="ion-margin-top"
            >
              <ion-icon
                name="arrow-back-circle"
                class="ion-margin-end"
              ></ion-icon>
              voutar
            </ion-button>
          </div>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>
