<ion-card-content *ngIf="user">
  <ion-card-header>
    <ion-card-title class="ion-margin-bottom"
      >{{ user?.name }}<br />
      <small>{{ user?.email }}</small></ion-card-title
    >
    <ion-card-subtitle class="ion-margin-bottom">
      <ion-text>
        Plano:
        <span *ngIf="user?.plan?.type === 'free'">Grátis</span>
        <span *ngIf="user?.plan?.type === 'basic'">Básico</span>
        <span *ngIf="user?.plan?.type === 'special'">Especial</span>

        <p [hidden]="!user?.plan?.start">
          {{ user?.plan?.start | time : "create" }}
        </p>
        <p [hidden]="!user?.plan?.end">{{ user?.plan?.end | time : "plan" }}</p>
      </ion-text>
    </ion-card-subtitle>

    <ion-card-subtitle>
      {{ user?.createdAt | time : "create" }}
      <br />
      {{ user?.updatedAt | time : "update" }}
    </ion-card-subtitle>
  </ion-card-header>
</ion-card-content>
