<ion-card-content *ngIf="user">
  <ion-card-header>
    <ion-card-title class="ion-margin-bottom"
      >{{ user | userValues : "name" }}<br />
      <small>{{ user | userValues : "email" }}</small></ion-card-title
    >
    <ion-card-subtitle class="ion-margin-bottom">
      <ion-text>
        Plano:
        <span *ngIf="user?.plan?.type === 'free'">Grátis</span>
        <span *ngIf="user?.plan?.type === 'basic'">Básico</span>
        <span *ngIf="user?.plan?.type === 'special'">Especial</span>

        <p [hidden]="!(user | isUserValuesPlan : 'start')">
          {{ user | userValuesPlan : "start" | time : "create" }}
        </p>
        <p [hidden]="!(user | isUserValuesPlan : 'end')">
          {{ user | userValuesPlan : "end" | time : "plan" }}
        </p>
      </ion-text>
    </ion-card-subtitle>

    <ion-card-subtitle
      *ngIf="
        (user | isUserValues : 'createdAt') &&
        (user | isUserValues : 'updatedAt')
      "
    >
      {{ user | userValues : "createdAt" | time : "create" }}
      <br />
      {{ user | userValues : "updatedAt" | time : "update" }}
    </ion-card-subtitle>
  </ion-card-header>
</ion-card-content>
