.toRestore {
  background-color: rgb(10, 67, 46, 0.2);
}

ion-item {
  --ion-color-danger: rgb(103, 15, 15, 0.5);
}

.list-md,
.list-ios {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
