<ion-list>
  <ion-item
    detail="true"
    color="none"
    button
    *ngFor="let user of users"
    [routerLink]="[
      '/painel-de-controle',
      'admin',
      'usuario',
      user | userValues : 'slug'
    ]"
  >
    <ion-avatar slot="start">
      <img
        [src]="user | imgAvatar"
        referrerpolicy="no-referrer"
        title="Imagem do usuário."
        alt="Imagem do usuário."
      />
    </ion-avatar>

    <ion-label
      [title]="user | userValues : 'name' : 'Nome:'"
      [attr.data-message]="user | userValues : 'name' : 'Nome:'"
    >
      {{ user | userValues : "name" }} <br />
      <ion-text>
        <p class="no-margin" [hidden]="!user | userValues : 'level'">
          <small>{{
            (user | isUserLevel : "1") ? "Administrador" : "Colaborador"
          }}</small>
        </p>
        <p class="no-margin">
          <small *ngIf="user?.plan?.type === 'free'">Plano grátis</small>
          <small *ngIf="user?.plan?.type === 'basic'">Plano básico</small>
          <small *ngIf="user?.plan?.type === 'special'">Plano especial</small>
        </p>

        <p class="no-margin" [hidden]="!user | userValuesPlan : 'end'">
          <small>{{ user | userValuesPlan : "end" | time : "plan" }}</small>
        </p>
      </ion-text>
    </ion-label>

    <ion-text class="flex">
      <small
        class="margin"
        [attr.data-message]="
          (user | userValues : 'blockade')
            ? 'Usuário está bloqueado'
            : 'Usuário está desbloqueado'
        "
        [title]="
          (user | userValues : 'blockade')
            ? 'Usuário está bloqueado'
            : 'Usuário está desbloqueado'
        "
      >
        <ion-icon
          [color]="(user | userValues : 'blockade') ? 'danger' : 'success'"
          slot="end"
          [name]="(user | userValues : 'blockade') ? 'stop' : 'play'"
        ></ion-icon>
        {{ (user | userValues : "blockade") ? "bloqueado" : "desbloqueado" }}
      </small>
      <small
        [attr.data-message]="
          (user | userValues : 'state')
            ? 'Usuário está online'
            : 'Usuário está offline'
        "
        [title]="
          (user | userValues : 'state')
            ? 'Usuário está online'
            : 'Usuário está offline'
        "
      >
        <ion-icon
          [color]="(user | userValues : 'state') ? 'success' : 'danger'"
          slot="end"
          [name]="(user | userValues : 'state') ? 'power' : 'radio-button-off'"
        ></ion-icon>
        {{ (user | userValues : "state") ? "online" : "offline" }}
      </small>
    </ion-text>
  </ion-item>
</ion-list>
