.skeleton {
  display: flex;
  margin-left: 16px;

  .avatar {
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    .title {
      max-width: 160px;
      height: 13px;
      margin-top: 12px;
    }

    .line {
      align-self: flex-end;
      margin-top: 16px;
      height: 2px;
    }
  }
}

.fab {
  opacity: 0;
  transition: var(--transition);
}

.show {
  opacity: 1;
}

.search {
  width: 100%;
  height: 40px;
}

.item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .time {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    margin-top: 4px;
    small {
      line-height: 1.2;
    }
  }
}

ion-icon {
  font-size: 22px;
}
