<app-header-component-modal [label]="label"></app-header-component-modal>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title>Atenção!</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-margin-top">
        <p>Todos os dados da categoria serão descartados.</p>
      </ion-card-content>
    </ion-card>

    <!-- Form -->
    <app-form
      (submitDataForm)="onSubmit($event)"
      (exportForm)="importForm($event)"
      [inputConfig]="config"
      [attrButton]="attrButton"
    ></app-form>
  </ion-grid>
</ion-content>
