ion-thumbnail {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  ion-thumbnail {
    height: 480px;
  }
}
@media (min-width: 768px) {
  ion-thumbnail {
    height: 380px;
  }
}
@media (min-width: 992px) {
  ion-thumbnail {
    height: 380px;
  }
}
@media (min-width: 1200px) {
  ion-thumbnail {
    height: 480px;
  }
}

.small {
  font-size: x-small;
}
