<app-header-component></app-header-component>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row *ngIf="announcement$ | async;let announcement;else Loading">
      <ion-col
        size-xl="7"
        size-lg="7"
        size-md="12"
        size-sm="12"
        size="12"
        *ngIf="announcement?.user?.plan?.type !== 'free' && announcement?.galery.length > 0"
      >
        <!-- Slide -->
        <ion-card>
          <ion-slides
            autoplay="5000"
            loop="true"
            pager="true"
            [options]="slideOpts"
          >
            <ion-slide
              *ngFor="let image of announcement?.galery; let i = index"
            >
              <picture>
                <source
                  media="(max-width: 575.98px)"
                  [srcset]="'/images/galery/small/' + image?.filename"
                />
                <source
                  media="(max-width: 767.98px) and (min-width: 576px)"
                  [srcset]="'/images/galery/small/' + image?.filename"
                />
                <source
                  media="(max-width: 991.98px) and (min-width: 768px)"
                  [srcset]="'/images/galery/medium/' + image?.filename"
                />
                <source
                  media="(min-width: 992px)"
                  [srcset]="'/images/galery/medium/' + image?.filename"
                />
                <img
                  [src]="'/images/galery/large/' + image?.filename"
                  [alt]="(announcement | attrTitle:'galery') +' '+ (i + 1)"
                  [title]="(announcement | attrTitle:'galery') +' '+ (i + 1)"
                  [attr.data-message]="(announcement | attrTitle:'galery') +' '+ (i + 1)"
                />
              </picture>
            </ion-slide>
          </ion-slides>

          <app-segment-component
            [announcement]="announcement"
          ></app-segment-component>
        </ion-card>
      </ion-col>

      <ion-col
        size-xl="5"
        size-lg="5"
        size-md="12"
        size-sm="12"
        size="12"
        *ngIf="announcement?.user?.plan?.type !== 'free' && announcement?.galery.length > 0"
      >
        <ion-card [hidden]="!announcement?.workDays">
          <ion-card-header>
            <ion-card-subtitle>
              <time>{{ datetimes | time:'workDays' }}</time>
              <ion-text
                [color]="(announcement?.workDays | workDays) === 'Aberto' ? 'success' : 'danger'"
                class="ion-text-start"
              >
                <p
                  class="ion-no-margin"
                  [title]="announcement | attrTitle:'workDays'"
                  [attr.data-message]="announcement | attrTitle:'workDays'"
                >
                  {{ announcement?.workDays | workDays }}
                </p>
              </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <!-- Titulo e descrição -->
          <ion-card-header>
            <ion-card-title
              [title]="announcement?.title"
              [attr.data-message]="announcement?.title"
              >{{ announcement?.title }}</ion-card-title
            >

            <ion-card-subtitle
              [innerHtml]="announcement?.description"
            ></ion-card-subtitle>
          </ion-card-header>

          <!-- Cidade -->
          <ion-card-content
            [hidden]="!announcement?.citie"
            class="ion-margin-top"
          >
            <ion-card-title color="medium">
              <ion-icon name="business"></ion-icon>
              Cidade</ion-card-title
            >
            <ion-card-subtitle>
              <address
                [title]="announcement | attrTitle:'citie'"
                [attr.data-message]="announcement | attrTitle:'citie'"
              >
                {{ announcement?.citie | citie }}
              </address>
            </ion-card-subtitle>
          </ion-card-content>

          <!-- Endereço -->
          <ion-card-content
            [hidden]="!announcement?.address"
            class="ion-margin-top"
          >
            <ion-card-title color="medium">
              <ion-icon name="location"></ion-icon>
              Endereço</ion-card-title
            >
            <ion-card-subtitle>
              <address
                [title]="announcement | attrTitle:'address'"
                [attr.data-message]="announcement | attrTitle:'address'"
              >
                {{ announcement?.address | address }}
              </address>
            </ion-card-subtitle>
          </ion-card-content>
          <!-- Contato -->
          <ion-card-content
            [hidden]="!announcement?.contact"
            class="ion-margin-top"
          >
            <ion-card-title color="medium">
              <ion-icon
                src="../../../../../../assets/ion-icon/contact.svg"
              ></ion-icon>
              Contato</ion-card-title
            >
            <app-show-contact-announcement-component
              [announcement]="announcement"
            ></app-show-contact-announcement-component>
          </ion-card-content>
          <!-- Rede Social -->
          <ion-card-content
            [hidden]="!announcement?.socialNetwork"
            class="ion-margin-top"
          >
            <ion-card-title color="medium">
              <ion-icon
                src="../../../../../../assets/ion-icon/socialNetwork.svg"
              ></ion-icon>
              Rede Social</ion-card-title
            >
            <app-show-social-network-announcement-component
              [socialNetwork]="announcement?.socialNetwork"
            ></app-show-social-network-announcement-component>
          </ion-card-content>

          <!-- Mapa -->
          <ion-card-content
            [hidden]="!announcement?.coordinate"
            class="ion-margin-top"
          >
            <ion-card-title color="medium" class="ion-margin-bottom">
              <ion-icon name="map"></ion-icon>
              Mapa</ion-card-title
            >
            <ion-button
              expand="block"
              [routerLink]="['/localizacao']"
              [queryParams]="{ anuncio: announcement?.title, latitude: announcement?.coordinate?.latitude, longitude: announcement?.coordinate?.longitude }"
              [fragment]="announcement?.title"
            >
              <ion-icon
                slot="icon-only"
                name="map"
                class="ion-margin-end"
              ></ion-icon>
              Ver localização
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Plano free -->
      <ion-col
        size="12"
        *ngIf="announcement?.user?.plan?.type === 'free' || announcement?.galery.length === 0"
      >
        <ion-card [hidden]="!announcement?.workDays">
          <ion-card-header>
            <ion-card-subtitle>
              <time>{{ datetimes | time:'workDays' }}</time>
              <ion-text
                [color]="(announcement?.workDays | workDays) === 'Aberto' ? 'success' : 'danger'"
                class="ion-text-start"
              >
                <p
                  class="ion-no-margin"
                  [title]="announcement | attrTitle:'workDays'"
                  [attr.data-message]="announcement | attrTitle:'workDays'"
                >
                  {{ announcement?.workDays | workDays }}
                </p>
              </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <!-- Titulo e descrição -->
          <ion-card-header>
            <ion-card-title
              [title]="announcement?.title"
              [attr.data-message]="announcement?.title"
              >{{ announcement?.title }}</ion-card-title
            >

            <ion-card-subtitle
              [innerHtml]="announcement?.description"
            ></ion-card-subtitle>
          </ion-card-header>

          <!-- Cidade -->
          <ion-card-content
            [hidden]="!announcement?.citie"
            class="ion-margin-top"
          >
            <ion-card-title color="medium">
              <ion-icon name="business"></ion-icon>
              Cidade</ion-card-title
            >
            <ion-card-subtitle>
              <address
                [title]="announcement | attrTitle:'citie'"
                [attr.data-message]="announcement | attrTitle:'citie'"
              >
                {{ announcement?.citie | citie }}
              </address>
            </ion-card-subtitle>
          </ion-card-content>

          <!-- Endereço -->
          <ion-card-content
            [hidden]="!announcement?.address"
            class="ion-margin-top"
          >
            <ion-card-title color="medium">
              <ion-icon name="location"></ion-icon>
              Endereço</ion-card-title
            >
            <ion-card-subtitle>
              <address
                [title]="announcement | attrTitle:'address'"
                [attr.data-message]="announcement | attrTitle:'address'"
              >
                {{ announcement?.address | address }}
              </address>
            </ion-card-subtitle>
          </ion-card-content>
          <!-- Contato -->
          <ion-card-content
            [hidden]="!announcement?.contact"
            class="ion-margin-top"
          >
            <ion-card-title color="medium">
              <ion-icon
                src="../../../../../../assets/ion-icon/contact.svg"
              ></ion-icon>
              Contato</ion-card-title
            >
            <app-show-contact-announcement-component
              [announcement]="announcement"
            ></app-show-contact-announcement-component>
          </ion-card-content>

          <!-- Mapa -->
          <ion-card-content
            [hidden]="!announcement?.coordinate"
            class="ion-margin-top"
          >
            <ion-card-title color="medium" class="ion-margin-bottom">
              <ion-icon name="map"></ion-icon>
              Mapa</ion-card-title
            >
            <ion-button
              expand="block"
              [routerLink]="['/mapa/localizacao']"
              [queryParams]="{ anuncio: announcement?.title, latitude: announcement?.coordinate?.latitude, longitude: announcement?.coordinate?.longitude  }"
            >
              <ion-icon
                slot="icon-only"
                name="map"
                class="ion-margin-end"
              ></ion-icon>
              Ver localização
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" *ngIf="announcement?.user?.plan?.type === 'free'">
        <ion-card class="no-margin-top">
          <app-segment-component
            [announcement]="announcement"
          ></app-segment-component>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-template #Loading>
      <ion-row>
        <ion-col size-xl="7" size-lg="7" size-md="12" size-sm="12" size="12">
          <ion-skeleton-text animated class="slides"></ion-skeleton-text>
          <ion-row>
            <ion-col size="3">
              <ion-skeleton-text animated class="btns"></ion-skeleton-text>
              <ion-skeleton-text animated class="btns-text"></ion-skeleton-text>
            </ion-col>
            <ion-col size="3">
              <ion-skeleton-text animated class="btns"></ion-skeleton-text>
              <ion-skeleton-text animated class="btns-text"></ion-skeleton-text>
            </ion-col>
            <ion-col size="3">
              <ion-skeleton-text animated class="btns"></ion-skeleton-text>
              <ion-skeleton-text animated class="btns-text"></ion-skeleton-text>
            </ion-col>
            <ion-col size="3">
              <ion-skeleton-text animated class="btns"></ion-skeleton-text>
              <ion-skeleton-text animated class="btns-text"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size-xl="5" size-lg="5" size-md="12" size-sm="12" size="12">
          <div class="ion-margin-bottom">
            <ion-skeleton-text animated class="card-title"></ion-skeleton-text>
            <ion-skeleton-text
              animated
              class="card-subtitle"
            ></ion-skeleton-text>
          </div>
          <div class="ion-margin-vertical">
            <ion-skeleton-text animated class="card-title"></ion-skeleton-text>
            <ion-skeleton-text
              animated
              class="card-subtitle"
            ></ion-skeleton-text>
          </div>
          <div class="ion-margin-vertical">
            <ion-skeleton-text animated class="card-title"></ion-skeleton-text>
            <ion-skeleton-text
              animated
              class="card-subtitle"
            ></ion-skeleton-text>
          </div>
          <div class="ion-margin-vertical">
            <ion-skeleton-text animated class="card-title"></ion-skeleton-text>
            <ion-skeleton-text
              animated
              class="card-subtitle"
            ></ion-skeleton-text>
          </div>
          <div class="ion-margin-vertical">
            <ion-skeleton-text animated class="card-title"></ion-skeleton-text>
            <ion-skeleton-text
              animated
              class="card-subtitle"
            ></ion-skeleton-text>
          </div>
          <div class="ion-margin-vertical">
            <ion-skeleton-text animated class="card-title"></ion-skeleton-text>
            <ion-skeleton-text
              animated
              class="card-subtitle"
            ></ion-skeleton-text>
          </div>
          <div class="ion-margin-vertical">
            <ion-row>
              <ion-col size="3">
                <ion-skeleton-text animated class="btns"></ion-skeleton-text>
              </ion-col>
              <ion-col size="3">
                <ion-skeleton-text animated class="btns"></ion-skeleton-text>
              </ion-col>
              <ion-col size="3">
                <ion-skeleton-text animated class="btns"></ion-skeleton-text>
              </ion-col>
              <ion-col size="3">
                <ion-skeleton-text animated class="btns"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
