<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()" defaultHref></ion-back-button>
    </ion-buttons>
    <ion-title>Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="user$ | async;let user;" fixed>
    <!-- Messagem -->
    <app-message-component [user]="user"></app-message-component>
    <ion-card>
      <!-- Avatar -->
      <app-avatar-component [user]="user"></app-avatar-component>
      <!-- Cartão -->
      <app-card-user-component [user]="user"></app-card-user-component>
    </ion-card>
    <ion-item-group>
      <ion-row class="ion-margin-bottom">
        <ion-col size="12">
          <ion-item-divider>
            <ion-icon color="mediun" name="person" slot="start"></ion-icon>
            <ion-label>Gerenciamento do usuário</ion-label>
          </ion-item-divider>

          <!-- Blockade -->
          <app-blockade-component
            [user]="user"
            [pageEnbled]="false"
          ></app-blockade-component>

          <!-- State -->
          <app-state-component
            [user]="user"
            [pageEnbled]="false"
          ></app-state-component>

          <!-- Level -->
          <app-level-component
            [user]="user"
            [pageEnbled]="false"
          ></app-level-component>

          <!-- Plan -->
          <app-plan-component
            [user]="user"
            [pageEnbled]="false"
          ></app-plan-component>

          <!-- Name -->
          <app-name-component [user]="user"></app-name-component>

          <!-- Email -->
          <app-email-component [user]="user"></app-email-component>

          <!-- Passwprd -->
          <app-password-component [user]="user"></app-password-component>

          <!-- Destroy -->
          <app-destroy-component [user]="user"></app-destroy-component>
        </ion-col>
      </ion-row>
    </ion-item-group>
  </ion-grid>
</ion-content>
