<!-- <ion-item
  *ngIf="!(user?.level === '1'); else Else"
  [disabled]="!announcement?.categoryAnnouncement"
  detail="true"
  (click)="socialNetwork(announcement)"
  title="Gerenciar rede social."
  aria-label="Gerenciar rede social."
  [attr.aria-disabled]="
    !announcement?.categoryAnnouncement &&
    'Para gerenciar rede social cadastre uma categoria.'
  "
  button
>
  <ion-icon
    src="../../../../../../assets/ion-icon/socialNetwork.svg"
    slot="start"
  ></ion-icon>
  <ion-label
    >Rede social
    <ion-text [color]="announcement?.socialNetwork ? 'success' : 'danger'">
      *
    </ion-text>
  </ion-label>
</ion-item> -->

<ion-item-sliding [disabled]="user?.level === '2'">
  <ion-item
    [title]="
      user?.level === '2'
        ? 'Abrir formulario de rede sociais.'
        : 'Pressione e arraste para a esquerda.'
    "
    [attr.data-message]="
      user?.level === '2'
        ? 'Abrir formulario de rede sociais.'
        : 'Pressione e arraste para a esquerda.'
    "
    lines="true"
    (click)="openForm()"
    [button]="user?.level === '2'"
  >
    <ion-icon
      src="../../../../../../assets/ion-icon/socialNetwork.svg"
      slot="start"
    ></ion-icon>
    <ion-icon
      slot="end"
      [name]="user?.level === '2' ? 'chevron-forward' : 'chevron-back'"
    ></ion-icon>
    <ion-label>
      Rede Social
      <ion-text [color]="announcement?.socialNetwork ? 'success' : 'danger'">
        *
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item-options *ngIf="user?.level === '1'">
    <ion-item-option
      *ngIf="announcement?.socialNetwork"
      slot="end"
      color="danger"
      size="small"
      class="cursor-pointer"
      title="Exclui rede sociais"
      data-message="Exclui rede sociais"
      (click)="destroy()"
    >
      <ion-icon name="trash" slot="start"></ion-icon>
      delete
    </ion-item-option>
    <ion-item-option
      slot="end"
      size="small"
      class="cursor-pointer"
      [title]="
        announcement?.socialNetwork
          ? 'Editar rede sociais'
          : 'Cadastrar rede sociais'
      "
      [attr.data-message]="
        announcement?.socialNetwork
          ? 'Editar rede sociais'
          : 'Cadastrar rede sociais'
      "
      (click)="openFormAdmin()"
    >
      <ion-icon name="create" slot="start"></ion-icon>
      {{ announcement?.socialNetwork ? "editar" : "Cadastrar" }}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
