<ion-item
  *ngIf="announcement"
  [disabled]="announcement?.category === null || announcement?.blockade"
  detail="true"
  (click)="socialNetwork(announcement)"
  title="Alterar rede social"
  aria-label="Clique para alterar rede social"
  button
>
  <ion-icon
    src="../../../../../../assets/ion-icon/socialNetwork.svg"
    slot="start"
  ></ion-icon>
  <ion-label
    >Rede social
    <ion-text [color]="announcement?.socialNetwork ? 'success' : 'danger'">
      *
    </ion-text>
  </ion-label>
</ion-item>
