<ion-item *ngIf="user" [disabled]="user?.blockade">
  <ion-label [color]="user?.state ? 'success' : 'danger'">{{
    user?.state ? "Online" : "Offline"
  }}</ion-label>
  <ion-toggle
    slot="end"
    (ionChange)="state()"
    [checked]="user?.state"
    title="Alternar entre usuário conectado ou desligado."
    aria-label="Clique para alternar entre usuário conectado ou desligado."
    [attr.aria-disabled]="
      'Botão alterar status ' + user?.blockade ? 'abilitado.' : 'desabilitado'
    "
    [color]="user?.state && 'success'"
  >
  </ion-toggle>
  <ion-icon
    slot="start"
    [color]="user?.state ? 'success' : 'danger'"
    [name]="user?.state ? 'power' : 'radio-button-off'"
  ></ion-icon>
</ion-item>
