<ion-item-group>
  <ion-item-divider>
    <ion-icon color="mediun" name="images" slot="start"></ion-icon>
    <ion-label>Galeria</ion-label>
  </ion-item-divider>
  <div class="row">
    <app-galery-button-upload
      [data]="{ id: announcement?.id, _csrf: announcement?._csrf}"
      [plan]="announcement?.plan"
    ></app-galery-button-upload>

    <div appHorizontalScroll>
      <section *ngFor="let item of announcement?.galery; let i = index">
        <ion-img
          class="cursor-pointer"
          [src]="'/images/galery/x-small/' + item?.filename"
          alt="Image da galeria"
          title="Clique para ampliar"
          aria-message="Clique para ampliar"
          (click)="show(i)"
        ></ion-img>
      </section>
    </div>
  </div>
</ion-item-group>

<!-- The Modal -->
<div class="modal" [ngClass]="{'show': isLightbox}">
  <!-- The Close Button -->
  <span class="close" (click)="close()">&times;</span>

  <div class="modal-content" *ngIf="announcement?.galery[image]?.filename">
    <div class="numbertext">
      {{ announcement?.galery?.length }} / {{ image + 1}}
    </div>
    <picture>
      <source
        media="(max-width: 575.98px)"
        [srcset]="'/images/galery/small/' + announcement?.galery[image]?.filename"
        alt="Galeria de anúncios"
      />
      <source
        media="(max-width: 1399.98px) and (min-width: 576px)"
        [srcset]="'/images/galery/medium/' + announcement?.galery[image]?.filename"
        alt="Galeria de anúncios"
      />
      <img
        [src]="'/images/galery/large/' + announcement?.galery[image]?.filename"
        alt="Galeria de anúncios"
      />
    </picture>
  </div>

  <!-- Modal Caption (Image Text) -->
  <div id="caption">
    <ion-fab-button
      size="small"
      (click)="plusSlides(image, '-')"
      [disabled]="!isLightboxButton || image === 0"
      aria-disabled=""
      color="light"
      aria-label="Imagem anterior"
      title="Imagem anterior"
    >
      <ion-icon name="chevron-back"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="light" size="small" (click)="presentPopover($event)">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>

    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-content>
          <ion-item
            (click)="delete(image)"
            aria-label="Remover imagem da galeria de anúncios."
            title="Remover imagem da galeria de anúncios."
            button
          >
            <ion-label>Remover imagem</ion-label>
            <ion-icon slot="start" name="trash"></ion-icon>
          </ion-item>
          <ion-item
            [disabled]="!isLightboxButton"
            (click)="order(image)"
            aria-label="Imagem de perfil."
            title="Imagem de perfil."
            button
          >
            <ion-label>Imagem de perfil</ion-label>
            <ion-icon slot="start" name="reorder-four"></ion-icon>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-fab-button
      size="small"
      (click)="plusSlides(image, '+')"
      [disabled]="!isLightboxButton || image === endNext"
      color="light"
      aria-label="Proxima imagem"
      title="Proxima imagem"
    >
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </div>
</div>
