<ion-item-group *ngIf="announcement">
  <ion-item-divider>
    <ion-icon color="mediun" name="images" slot="start"></ion-icon>
    <ion-label>Galeria</ion-label>
  </ion-item-divider>
  <div class="row">
    <app-galery-button-upload
      [announcement]="announcement"
    ></app-galery-button-upload>
    <div appHorizontalScroll>
      <section *ngFor="let item of announcement?.galery; let i = index">
        <ion-img
          class="cursor-pointer"
          [src]="item | galeryValues:'filename':'/images/galery/x-small/'"
          alt="Image da galeria"
          title="Clique para ampliar"
          aria-message="Clique para ampliar"
          (click)="show(i)"
        ></ion-img>
      </section>
    </div>
  </div>
</ion-item-group>

<!-- The Modal -->
<div class="modal" [ngClass]="{'show': isLightbox}">
  <!-- The Close Button -->
  <span class="close" (click)="close()">&times;</span>

  <div class="modal-content" *ngIf="announcement | isGalery:index">
    <div class="numbertext">
      {{ announcement?.galery?.length }} / {{ index + 1}}
    </div>
    <picture>
      <source
        media="(max-width: 575.98px)"
        [srcset]="announcement | typeImageGalery:['small', index]"
        alt="Galeria de anúncios"
      />
      <source
        media="(max-width: 1399.98px) and (min-width: 576px)"
        [srcset]="announcement | typeImageGalery:['medium', index]"
        alt="Galeria de anúncios"
      />
      <img
        [src]="announcement | typeImageGalery:['large', index]"
        alt="Galeria de anúncios"
      />
    </picture>
  </div>

  <!-- Modal Caption (Image Text) -->
  <div id="caption">
    <ion-fab-button
      size="small"
      (click)="plusSlides(index, '-')"
      [disabled]="!isLightboxButton || index === 0"
      aria-disabled=""
      color="light"
      aria-label="Imagem anterior"
      title="Imagem anterior"
    >
      <ion-icon name="chevron-back"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="light" size="small" (click)="presentPopover($event)">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>

    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-content>
          <ion-item
            (click)="delete(index)"
            aria-label="Remover imagem da galeria de anúncios."
            title="Remover imagem da galeria de anúncios."
            button
          >
            <ion-label>Remover imagem</ion-label>
            <ion-icon slot="start" name="trash"></ion-icon>
          </ion-item>
          <ion-item
            *ngIf="announcement | isFeaturedImage:index"
            [disabled]="!isLightboxButton"
            (click)="order(index)"
            aria-label="Imagem de perfil."
            title="Imagem de perfil."
            button
          >
            <ion-label>Imagem de perfil</ion-label>
            <ion-icon slot="start" name="reorder-four"></ion-icon>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-fab-button
      size="small"
      (click)="plusSlides(index, '+')"
      [disabled]="!isLightboxButton || index === endNext"
      color="light"
      aria-label="Proxima imagem"
      title="Proxima imagem"
    >
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </div>
</div>
