<app-header-component></app-header-component>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="user$ | async;let user;" fixed>
    <ion-card *ngIf="user?.blockade" class="ion-margin-vertical">
      <ion-card-header color="warning">
        <ion-card-subtitle>Atenção</ion-card-subtitle>
        <ion-card-title>Usuário bloqueado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <dl>
          <dt style="margin-bottom: 16px"><em>Sr.ª {{ user?.name }}</em></dt>
          <dd>
            Você foi bloqueado temporariamente. Por motivos de violação dos
            termos de uso do aplicativo.
          </dd>
          <dd>
            Para esclarecimentos entre em contato com aplicativo:
            <a href="http://#" target="_blank">whatsApp</a>
          </dd>
        </dl>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <!-- Avatar -->
      <div class="container ion-margin-vertical">
        <div
          (click)="avatar(user)"
          title="Adicionar á imagem do usuário."
          aria-label="Clique para adicionar á imagem do usuário."
          [attr.aria-disabled]="'Botão adicionar imagem ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
          button
        >
          <ion-avatar>
            <ion-img
              [src]="user?.image?.url || './../../../../../../assets/avatar.svg'"
              alt="Avatar"
              title="Imagem do usuário"
            ></ion-img>
          </ion-avatar>
          <ion-icon color="medium" size="large" name="camera"> </ion-icon>
        </div>
      </div>

      <!-- Label -->
      <ion-card-content>
        <ion-card-header>
          <ion-card-title>{{ user?.name }}</ion-card-title>
          <ion-card-subtitle>
            Plano:
            <span [ngSwitch]="user?.plan">
              <span *ngSwitchCase="'free'">Grátis</span>
              <span *ngSwitchCase="'basic'">Basico</span>
              <span *ngSwitchCase="'special'">Especial</span>
            </span>
            <br />
            <!-- Tipo: {{ user?.level === '1' ? 'Administrador' : 'Colaborador' }}
            <br /> -->
            Email: {{ user?.email }} <br />{{ user?.createdAt | time:'create' }}
            <br />
            {{ user?.updatedAt | time:'update' }}
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card-content>
    </ion-card>
    <ion-item-group>
      <ion-row class="ion-margin-bottom">
        <ion-col size="12">
          <ion-item-divider>
            <ion-icon color="mediun" name="person" slot="start"></ion-icon>
            <ion-label>Gerenciamento do usuário</ion-label>
          </ion-item-divider>

          <!-- State -->
          <!-- <ion-item [disabled]="user?.blockade">
            <ion-label>{{ user?.state ? 'Conectado' : 'Desligado'}}</ion-label>
            <ion-toggle
              slot="end"
              (ionChange)="state(user)"
              [checked]="user?.state"
              title="Alternar entre usuário conectado ou desligado."
              aria-label="Clique para alternar entre usuário conectado ou desligado."
              [attr.aria-disabled]="'Botão alterar status ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            >
            </ion-toggle>
            <ion-icon
              slot="start"
              [name]="user?.state  ? 'eye': 'eye-off'"
            ></ion-icon>
          </ion-item> -->

          <!-- Name -->
          <ion-item
            [disabled]="user?.blockade"
            detail="true"
            (click)="name(user)"
            title="Alterar nome e sobrenome"
            aria-label="Clique para alterar nome e sobrenome"
            [attr.aria-disabled]="'Botão alterar nome e sobrenome ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-label>Nome</ion-label>
          </ion-item>

          <!-- Email -->
          <ion-item
            [disabled]="user?.blockade || !user?.isPassword"
            detail="true"
            (click)="email(user)"
            title="Alterar email"
            aria-label="Clique para alterar email"
            [attr.aria-disabled]="'Botão alterar email ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Email</ion-label>
          </ion-item>

          <!-- Passwprd -->

          <ion-item
            *ngIf="user?.isPassword;else IsPassword"
            [disabled]="user?.blockade"
            detail="true"
            (click)="password(user)"
            title="Alterar senha"
            aria-label="Clique para editar senha"
            [attr.aria-disabled]="'Botão editar senha ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="key" slot="start"></ion-icon>
            <ion-label>Senha</ion-label>
          </ion-item>

          <ng-template #IsPassword>
            <ion-item
              [disabled]="user?.blockade"
              detail="true"
              (click)="passwordCreate(user)"
              title="Cadastrar senha"
              aria-label="Clique para cadastrar senha"
              aria-disabled="Botão cadastrar senha."
              button
            >
              <ion-icon name="key" slot="start"></ion-icon>
              <ion-label>Senha</ion-label>
            </ion-item>
          </ng-template>

          <!-- Delete -->
          <ion-item
            [disabled]="user?.blockade || !user?.isPassword"
            detail="true"
            (click)="destroy(user)"
            title="Excluir usuário"
            aria-label="Clique para excluir usuário"
            [attr.aria-disabled]="'Botão excluir usuário ' + user?.blockade ? 'abilitado.' : 'desabilitado'"
            button
          >
            <ion-icon name="trash" slot="start"></ion-icon>
            <ion-label>Excluir</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item-group>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
