<ion-item
  *ngIf="user"
  (click)="blockade()"
  title="Alternar entre usuário bloquear e desbloquear."
  aria-label="Clique para alternar entre usuário bloquear e desbloquear."
  detail="true"
  button
>
  <ion-label
    [color]="(user | userValues : 'blockade') ? 'danger' : 'success'"
    >{{
      (user | userValues : "blockade") ? "Bloqueado" : "Desbloqueado"
    }}</ion-label
  >
  <ion-icon
    slot="start"
    [color]="(user | userValues : 'blockade') ? 'danger' : 'success'"
    [name]="(user | userValues : 'blockade') ? 'stop' : 'play'"
  ></ion-icon>
</ion-item>
